{% extends "base.html" %}


{% block content %}
    <p>"Hi" {{ user.get_username }}!</p>
    <p>You're receiving this email because you requested a password reset for your Squire account.</p>

    <p>
        <a href="{% abs_url 'core:user_accounts/password_reset/confirm' uidb64=uid token=token %}">
            Click here to choose a new password
        </a>
    </p>
    <p>
        If you haven't requested a password reset you can safely ignore or delete this email.
        In fact, as long as you don't share the above link you can do anything with this email you want!
    </p>
    <p>
        Have a nice day!
    </p>
{% endblock content %}

{% block mail_footer %}
    This email has been send through Squire. You can not respond to this e-mail.
{% endblock %}
