# NB: In addition to these libraries, the libraries listed in requirements.txt are also needed to run the application!
# These are simply additional libraries that ease development, but are not needed in production.
coverage~=4.5.3
