{% extends 'core/base.html' %}
{% load static %}
{% load paginator %}
{% load inventory_tags %}

{% block title %}
    Squire - Boardgames
{% endblock title %}

{% block content-frame-class %}
    container
{% endblock %}


{% block content %}
    <a href="{% url "roleplaying:home" %}"
       class="btn btn-primary">
        Back to overview
    </a>

    <div class="card my-3">
        <div class="card-header">
            <div class="row">
                <div class="col-auto">
                    {% if system.image %}
                        <a class="enlargable_image">
                            <img style="height: 4em;" src={{ system.image.url }}>
                        </a>
                    {% endif %}
                </div>
                <div class="col">
                    <div class="h3">{{ system.name }}</div>
                    <div>{{ system.short_description }}</div>
                </div>
            </div>


        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-md-8">
                    <p>
                        {{ system.long_description|linebreaksbr }}
                    </p>
                </div>
                <div class="col-6 col-md-4">
                    {% if system.rate_complexity %}
                        <div class="row">
                            <div class="col-4">
                                Complexity:
                            </div>
                            <div class="col-8">
                                {{ system.get_rate_complexity_display }}
                            </div>
                        </div>
                    {% endif %}
                    {% if system.rate_lore %}
                        <div class="row">
                            <div class="col-4">
                                Lore:
                            </div>
                            <div class="col-8">
                                {{ system.rate_lore }}/5
                            </div>
                        </div>
                    {% endif %}

                    <hr>

                    {% if system.player_count %}
                        <div class="row">
                            <div class="col-4">
                                Players:
                            </div>
                            <div class="col-8">
                                {{ system.player_count }}
                            </div>
                        </div>
                    {% endif %}
                    {% if system.dice %}
                        <div class="row">
                            <div class="col-4">
                                Dice:
                            </div>
                            <div class="col-8">
                                {{ system.dice|linebreaksbr }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if system.achievements %}
                <hr>
                <p>
                Achievements belonging to this system:
                </p>
                <div class="row">
                {% for ach_link in system.achievements.all %}
                    <div class="col">
                    {% include "achievements/snippets/achievement_external_ref_snippet.html" with achievement=ach_link.achievement %}
                    </div>
                {% endfor %}
                </div>
            {% endif %}

            <div>
                {% if system.items.all %}
                    <div class="font-weight-bold mt-3">
                        Availlable items:
                    </div>
                    <table class="table table-sm table-hover">
                        <tbody>

                        {% for item in system.items.get_all_in_possession %}
                            <tr>
                                <td scope="row" style="width: 15em;">
                                    {{ item.name }}
                                </td>
                                <td>
                                    {{ item.description }}
                                </td>
                                <td>
                                    {% if item.digital_version %}
                                        <a class="btn btn-sm btn-outline-info"
                                           target="_blank" rel="noopener noreferrer"
                                           href="{% url "roleplaying:download_roleplay_item" item_id=item.id %}">
                                            Download
                                        </a>
                                    {% else %}
                                        In Luna
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}



