{% extends 'core/base.html' %}
{% load static %}
{% load paginator %}
{% load inventory_tags %}

{% block title %}
    Squire - Boardgames
{% endblock title %}

{% block content-frame-class %}
    container
{% endblock %}


{% block content %}
    <a href="{% url "roleplaying:home" %}"
       class="btn btn-primary">
        Back to overview
    </a>

    <div class="card my-3">
        <div class="card-header">
            <div class="row">
                <div class="col-auto">
                    {% if system.image %}
                        <a class="enlargable_image">
                            <img style="height: 4em;" src={{ system.image.url }}>
                        </a>
                    {% endif %}
                </div>
                <div class="col">
                    <div class="h3">{{ system.name }}</div>
                    <div>{{ system.short_description }}</div>
                </div>
            </div>


        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-md-8">
                    <p>
                        {{ system.long_description|linebreaksbr }}
                    </p>
                </div>
                <div class="col-6 col-md-4">
                    {% if system.rate_complexity %}
                        <div class="row">
                            <div class="col-4">
                                Complexity:
                            </div>
                            <div class="col-8">
                                {{ system.get_rate_complexity_display }}
                            </div>
                        </div>
                    {% endif %}
                    {% if system.rate_lore %}
                        <div class="row">
                            <div class="col-4">
                                Lore:
                            </div>
                            <div class="col-8">
                                {{ system.rate_lore }}/5
                            </div>
                        </div>
                    {% endif %}

                    <hr>

                    {% if system.player_count %}
                        <div class="row">
                            <div class="col-4">
                                Players:
                            </div>
                            <div class="col-8">
                                {{ system.player_count }}
                            </div>
                        </div>
                    {% endif %}
                    {% if system.dice %}
                        <div class="row">
                            <div class="col-4">
                                Dice:
                            </div>
                            <div class="col-8">
                                {{ system.dice|linebreaksbr }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if system.achievements %}
                <hr>
                <p>
                    Achievements related to this system:
                </p>
                <div class="row">
                    {% for ach_link in system.achievements.all %}
                        <div class="col">
                            {% include "achievements/snippets/achievement_external_ref_snippet.html" with achievement=ach_link.achievement %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}


            <hr>
            <div>
                <div class="d-flex justify-content-between">
                    <div class="font-weight-bold mt-3">
                        Availlable items:
                    </div>
                    <div>{% if perms.roleplaying.can_maintain_ownership_roleplayingitem %}
                        <a href="{% url "inventory:catalogue" type_id=item_type %}"
                           class="btn btn-sm btn-outline-primary">
                            Catalogue
                        </a>
                    {% endif %}
                    </div>
                </div>
                {% if owned_items %}
                    <table class="table table-sm table-hover">
                        <tbody>

                        {% for item in owned_items %}
                            <tr>
                                <td scope="row" style="width: 15em;">
                                    <div class="d-flex">
                                        <div style="width: 2em;">
                                            {% if item.image %}
                                                <a class="enlargable_image" data-imgurl="{{ item.image.url }}">
                                                    <div style="background-size: contain; background-position: center;
                                                        background-image: url('{{ item.image.url }}');
                                                        background-repeat: no-repeat; width: 2em; height: 2em;">
                                                    </div>
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div>{{ item.name }}</div>
                                    </div>
                                </td>
                                <td>
                                    {{ item.description }}
                                </td>
                                <td>
                                    {% if item.digital_version %}
                                        <a class="btn btn-sm btn-outline-info"
                                           target="_blank" rel="noopener noreferrer"
                                           href="{% url "roleplaying:download_roleplay_item" item_id=item.id %}">
                                            Download
                                        </a>
                                    {% else %}
                                        In Luna
                                    {% endif %}
                                </td>
                                {% if can_maintain_ownership %}
                                    <td style="padding-right: 0;">
                                        <div class="d-flex justify-content-end">
                                            <a class="btn btn-sm btn-outline-primary"
                                               href="{% url "inventory:catalogue_item_links" type_id=item_type item_id=item.id %}">
                                                Edit
                                            </a>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>There are no items for this at the association</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "inventory/snippets/snippet_enlarged_image_modal.html" %}
{% endblock %}


{% block js_bottom %}
    {{ block.super }}
    <script src="{% static "js/enlarge_item_image.js" %}"></script>
{% endblock %}

