{% extends 'core/base.html' %}
{% load render_form %}

{% block title %}
    Squire - Roleplaying
{% endblock title %}

{% block content-frame-class %}
    container
{% endblock %}

{% block bootstrap_js %}
    {# We need to prevent bootstrap's JS from loading, as Martor's MarkdownWidget #}
    {#    also includes it. We cannot remove it from that widget and rely on our version #}
    {#    as it seems to require a specific version. #}
    {#    This is ugly... #}
{% endblock %}

{% block content %}
    <h1>Update {{ system }}</h1>

    {% render_form method="post" id="submit_form"  has_submit_button=False uses_file_field=True %}

    <div class="btn-group" role="group" aria-label="Form changing">
        <a href="{% url "roleplaying:system_details" system_id=system.id %}"
           class="btn btn-outline-secondary">Cancel</a>
        <button form="submit_form" type="submit" class="btn btn-primary">
            Save changes
        </button>
    </div>

{% endblock %}
