{% extends 'core/base.html' %}
{% load static %}
{% load paginator %}
{% load inventory_tags %}
{% load render_achievement %}

{% block title %}
    Squire - Roleplaying
{% endblock title %}

{% block content-frame-class %}
    container
{% endblock %}


{% block content %}
    <a href="{% url "roleplaying:home" %}"
       class="btn btn-primary">
        Back to overview
    </a>

    <div class="card my-3">
        <div class="card-header">
            <div class="row">
                <div class="col-auto">
                    {% if system.image %}
                        <a class="enlargable_image">
                            <img style="height: 4em;" src={{ system.image.url }}>
                        </a>
                    {% endif %}
                </div>
                <div class="col">
                    <div class="h3">{{ system.name }}</div>
                    <div>{{ system.short_description }}</div>
                </div>
                {% if perms.roleplaying.change_roleplayingsystem %}
                    <div class="col-auto">
                        <a href="{% url "roleplaying:system_edit" system_id=system.id %}"
                           class="btn btn-sm btn-outline-primary">
                            Edit
                        </a>
                    </div>
                {% endif %}
            </div>


        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-8 rendered-md">
                    {{ system.long_description.as_rendered }}
                </div>
                <div class="col-12 col-lg-4">
                    <hr class="d-flex d-lg-none">

                    <div class="my-3"></div>
                    {% if system.rate_complexity %}
                        <div class="row">
                            <div class="col-5 col-sm-4 pr-0">
                                Complexity:
                            </div>
                            <div class="col-7 col-sm-8">
                                {{ system.get_rate_complexity_display }}
                            </div>
                        </div>
                    {% endif %}
                    {% if system.rate_lore %}
                        <div class="row">
                            <div class="col-5 col-sm-4">
                                Lore:
                            </div>
                            <div class="col-7 col-sm-8">
                                {{ system.rate_lore }}/5
                            </div>
                        </div>
                    {% endif %}

                    {% if system.rate_lore or system.rate_complexity %}
                    <hr>
                    {% endif %}

                    {% if system.player_count %}
                        <div class="row">
                            <div class="col-5 col-sm-4">
                                Players:
                            </div>
                            <div class="col-7 col-sm-8">
                                {{ system.player_count }}
                            </div>
                        </div>
                    {% endif %}
                    {% if system.dice %}
                        <div class="row">
                            <div class="col-5 col-sm-4">
                                Dice:
                            </div>
                            <div class="col-7 col-sm-8">
                                {{ system.dice|linebreaksbr }}
                            </div>
                        </div>
                    {% endif %}
                    <hr>
                    {% if system.more_info_url %}
                        <a href="{{ system.more_info_url }}"
                           class="btn btn-info mt-4" target="_blank" rel="noopener noreferrer">
                            More information
                        </a>
                    {% endif %}
                </div>
            </div>

            {% if system.achievements.all %}
                <hr>
                <p>
                    Achievements related to this system:
                </p>
                <div class="row">
                    {% for ach_link in system.achievements.all %}
                        <div class="col">
                            {% render_achievement ach_link.achievement outline_class="card" %}
                        </div>
                    {% endfor %}
                </div>
                <hr>
            {% endif %}

            <div>
                <div class="d-flex justify-content-between">
                    <div class="font-weight-bold mt-3">
                        Available items:
                    </div>
                    <div>{% if perms.roleplaying.maintain_ownerships_for_roleplayingitem %}
                        <a href="{% url "inventory:catalogue" type_id=item_type %}"
                           class="btn btn-sm btn-outline-primary">
                            Catalogue
                        </a>
                    {% endif %}
                    </div>
                </div>
                {% if owned_items %}
                    <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <colgroup>
                            <col span="1" style="min-width: 10em;">
                            <col span="1" style="">
                            <col span="1" style="min-width: 10em;">
                            <col span="1" style="">
                            {% if can_maintain_ownership %}
                                <col span="1" style="">
                            {% endif %}
                        </colgroup>
                        <tbody>
                        {% for item in owned_items %}
                            <tr>
                                <td scope="row" style="width: 25em;">
                                    <div class="d-flex">
                                        <div style="width: 2em;">
                                            {% if item.image %}
                                                <a class="enlargable_image" data-imgurl="{{ item.image.url }}">
                                                    <div style="background-size: contain; background-position: center;
                                                        background-image: url('{{ item.image.url }}');
                                                        background-repeat: no-repeat; width: 2em; height: 2em;">
                                                    </div>
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div>{{ item.name }}</div>
                                    </div>
                                </td>
                                <td>
                                    {% render_ownership_tags item %}
                                </td>
                                <td style="">
                                    {{ item.description }}
                                </td>
                                <td style="width: 15em;">
                                    {% if item.local_file %}
                                        <button type="button"
                                                class="btn btn-sm btn-outline-info btn-block"
                                                data-toggle="modal" data-target="#fileModal"
                                                data-url="{% url "roleplaying:download_roleplay_item" item_id=item.id %}"
                                                data-useraction="Download"
                                                data-filename="{{ item.name }}"
                                        > Download
                                        </button>
                                    {% elif item.external_file_url %}
                                        <button type="button"
                                                class="btn btn-sm btn-outline-info btn-block"
                                                data-toggle="modal" data-target="#fileModal"
                                                data-url="{{ item.external_file_url }}"
                                                data-useraction="Read"
                                                data-filename="{{ item.name }}"
                                        > View
                                        </button>
                                    {% else %}
                                        At the Knights
                                    {% endif %}
                                </td>
                                {% if can_maintain_ownership %}
                                    <td style="padding-right: 0;">
                                        <div class="d-flex justify-content-end">
                                            <a class="btn btn-sm btn-outline-primary"
                                               href="{% url "inventory:catalogue_item_links" type_id=item_type item_id=item.id %}">
                                                Edit
                                            </a>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                {% else %}
                    <p>There are no items for this at the association</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Define the Bootstrap modal that is displayed when download is pressed. -->
    <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title" id="fileModalLabel">
                        <span class="filemodalaction"></span> <span class="filemodalfilename"></span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        This file is available to you for personal use as long as you are a member of the Knights.
                    </p>
                    <p class="font-weight-bold">
                        You are not allowed to distribute, or share this file with others.
                    </p>
                    <p>
                        Seriously, please don't. Only this way we can keep these files available like they are now.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-info" id="downloadModalLinkButton" href=""
                        target="_blank" rel="noopener noreferrer">
                        <span class="filemodalaction"></span> file
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% include "inventory/snippets/snippet_enlarged_image_modal.html" %}
{% endblock %}


{% block js_bottom %}
    {{ block.super }}
    <script src="{% static "js/enlarge_item_image.js" %}"></script>

    <script>
        $('#fileModal').on('show.bs.modal', function (event) {

            var button = $(event.relatedTarget); // Button that triggered the modal
            var file_url = button.data('url'); // Extract info from data-* attributes
            var file_name = button.data('filename'); // Extract info from data-* attributes
            var user_action = button.data('useraction'); // Extract info from data-* attributes

            var modal = $(this);
            modal.find('#downloadModalLinkButton').attr("href", file_url);
            modal.find('.filemodalfilename').text(file_name);
            modal.find('.filemodalaction').text(user_action);
        })
    </script>
{% endblock %}

