{% load format_string %}
{% load filter_first %}


<div class="card p-1" style="max-width: 20em">
    <div class="d-flex">
        <a class="d-flex m-2 ml-0" href="{% url "achievements/all" %}#ach-{{ achievement.id }}">
            <img src="{{ achievement.image.url }}" class="" style="height: 4em;">
        </a>
        <div class="">
            <div class="">{{achievement.name}}</div>
            <div class="" style="font-size:0.7em">{{achievement.description}}</div>
        </div>
    </div>
</div>
