{% load static %}

<form method="post">
    {% csrf_token %}
    {{ pinnable_form }}
    <input type="submit" value="" name="{{ pinnable_form.prefix }}"
        class="btn-block {{ btn_classes }} btn p-1
            {% if do_pin %}
                btn-outline-primary
            {% else %}
                btn-primary
            {% endif %}
        "
        style="
            background-image: url('{% static 'octicons/pin.svg' %}');
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            background-origin: content-box;
            filter: invert(100%) sepia(62%) saturate(179%) hue-rotate(189deg) brightness(113%) contrast(100%);
        ">
</form>
