{% for quicklink in association_group.shortcut_set.all %}
    <div class="row">
        <div class="col">
            {{ quicklink.name }}
        </div>
        <div class="col">
            <a href="{{ quicklink.url }}" target="_blank" rel="noopener noreferrer">
                {{ quicklink.url }}
            </a>
        </div>
        <div class="col">
            {{ quicklink.description|default:'' }}
        </div>
    </div>
{% endfor %}

<a href="{% url "committees:group_quicklinks" group_id=association_group.id %}"
   class="btn btn-primary btn-sm">
    <i class="fas fa-pen"></i> Edit shortcut urls
</a>
