{% extends 'core/base.html' %}

{% load static %}
{% load render_form %}

{% block title %}
    Squire - Edit {{ activity_moment.title }} occurence
{% endblock title %}

{% block og-title %}
    Edit - {{ activity_moment.title }}
{% endblock og-title %}
{% block og-description %}
    Edit occurrence taking place on {{ activity_moment.start_date|date:"l j E H:i" }}
{% endblock og-description %}

{% block content-frame-class %}
    wideContentFrame
{% endblock %}

{% block bootstrap_js %}
    {# We need to prevent bootstrap's JS from loading, as Martor's MarkdownWidget #}
    {#    also includes it. We cannot remove it from that widget and rely on our version #}
    {#    as it seems to require a specific version. #}
    {#    This is ugly... #}
{% endblock %}

{% block content %}
    <h1>{{ activity_moment.title }}</h1>
    <div class="d-flex">
        <!-- Calendar Icon -->
        <div class="">
            <img
                src="{% static 'octicons/info.svg' %}"
                alt="Info-icon"
                height="16"
                width="16"
            />
        </div>
        <!-- Event Date & Recurrence Information -->
        <div class="col align-self-center">
            <div class='nospace'>
                <p id="event-name">
                    Part of: {{ activity_moment.parent_activity.title }}
                    {% if activity_moment.parent_activity.recurrences.rrules %}
                        <br>
                        Repeats:
                        {% for rule in activity_moment.parent_activity.recurrences.rrules %}
                            {{ rule.to_text }}
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <!-- Calendar Icon -->
        <div class="">
            <img
                src="{% static 'octicons/calendar.svg' %}"
                alt="Calendar-icon"
                height="16"
                width="16"
            />
        </div>
        <!-- Event Date -->
        <div class="col align-self-center">
            <div class='nospace'>
                <p id="event-date">
                    {% if activity_moment.start_date.date == activity_moment.end_date.date %}
                        <!-- Activity starts and ends on the same day -->
                        {{ activity_moment.start_date|date:"l j E H:i" }} - {{ activity_moment.end_date|date:"H:i" }}
                    {% else %}
                        <!-- Activity starts and ends on a different day -->
                        {{ activity_moment.start_date|date:"j E H:i" }} - {{ activity_moment.end_date|date:"j E H:i" }}
                    {% endif %}
                    <br>
                    <small class="text-muted">
                        {% if activity_moment.start_date is not None %}
                            Normally occurs on {{ activity_moment.recurrence_id|date:"l j E (H:i)" }}
                        {% endif %}
                    </small>
                </p>
            </div>
        </div>
    </div>

    <h4>Edit occurence data</h4>
    <p>
        Below you can edit attributes for this particular activity occurence. Any field can be left empty. In that case
        it will copy the attribute from the general activity instead.
    </p>

    {% render_form has_submit_button=False id="submit_form" method="post" uses_file_field=True %}

    <div class="btn-group w-100" role="group" aria-label="Form changing">
        <a href="{% url "activity_calendar:activity_slots_on_day" activity_id=activity.id recurrence_id=recurrence_id %}"
           class="btn btn-secondary">Cancel</a>
        <button form="submit_form" type="submit" class="btn btn-success">
            Save changes
        </button>
    </div>

{% endblock %}
