{% extends 'core/base.html' %}

{% load static %}
{% load get_login_url %}
{% load calendar_tags %}
{% load martortags %}
{% load martor_render %}
{% load build_absolute_uri %}

{% block title %}
    Squire - {{ activity_moment.title }}
{% endblock title %}

<!-- Link Preview -->
{% block og-title %}
    {{ activity_moment.title }}
{% endblock og-title %}
{% block og-description %}
    [{{ activity_moment.start_date|date:"l j E H:i" }}] {{ activity_moment.description.as_plaintext|truncatewords:20 }}
{% endblock og-description %}
{% block og-image %}{% build_absolute_uri request activity.image_url %}{% endblock og-image %}
{% block og-image-alt %}
    {{ activity_moment.title }} Icon
{% endblock og-image-alt %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/slot_frames.css' %}">
    {% martor_render_css %}
{% endblock css %}

{% block js %}
    {{ block.super }}
    {% martor_render_js %}
{% endblock js %}

{% block js_bottom %}
    {{ block.super }}
    <script src="{% static "js/activate_bootstrap_popover.js" %}"></script>

    {% martor_render_js import_hljs=False invoke_hljs_method=True method_param="'#event-description'" %}
{% endblock js_bottom %}

{% block content-frame-class %}
    wideContentFrame
{% endblock %}

{% block content %}
    <!-- Slots -->
    <h1>{{ activity_moment.title }}</h1>
    <div class="row">
        <div class="col-12 col-md-7">
            {% block activity-info %}
                <div class="d-flex">
                    <!-- Calendar Icon -->
                    <div class="">
                        <img
                            src="{% static 'octicons/calendar.svg' %}"
                            alt="Calendar-icon"
                            height="16"
                            width="16"
                        />
                    </div>
                    <!-- Event Date & Recurrence Information -->
                    <div class="col align-self-center">
                        <div class='nospace'>
                            <p id="event-date">
                                {% if activity_moment.start_date.date == activity_moment.end_date.date %}
                                    <!-- Activity starts and ends on the same day -->
                                    {{ activity_moment.start_date|date:"l j E H:i" }} - {{ activity_moment.end_date|date:"H:i" }}
                                {% else %}
                                    <!-- Activity starts and ends on a different day -->
                                    {{ activity_moment.start_date|date:"j E H:i" }} - {{ activity_moment.end_date|date:"j E H:i" }}
                                {% endif %}
                            </p>
                            <p>
                                {% if activity_moment.local_start_date is not None %}
                                    <small id="activity-alt-start-message" class="text-muted">
                                        {% if activity_moment.recurrence_id.date != activity_moment.local_start_date.date %}
                                            Replacement for the same activity on {{ activity_moment.recurrence_id|date:"l j E (H:i)" }}
                                        {% else %}
                                            Starts
                                            {% is_alt_start_before_normal_occurrence as is_alt_start_before_normal_occurrence %}
                                            {% if is_alt_start_before_normal_occurrence %}
                                                {{ activity_moment.recurrence_id|timeuntil:activity_moment.local_start_date }}
                                                earlier
                                            {% else %}
                                                {{ activity_moment.recurrence_id|timesince:activity_moment.local_start_date }}
                                                later
                                            {% endif %}
                                            than normal!
                                        {% endif %}
                                    </small>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="d-flex">
                    <!-- Location Icon -->
                    <div class="col-xs-2">
                        <img
                            src="{% static 'octicons/location.svg' %}"
                            alt="Location-icon"
                            height="16"
                            width="16"
                        />
                    </div>
                    <!-- Location -->
                    <div class="col nospace align-self-center">
                        <p id="event-location">{{ activity_moment.location }}</p>
                    </div>
                </div>

                <div class="d-flex">
                    <!-- Event Participants Icon -->
                    <div class="col-xs-2">
                        <img
                            src="{% static 'octicons/people.svg' %}"
                            alt=""
                            height="16"
                            width="16"
                        />
                    </div>
                    <!-- Patricipants -->
                    <div class="col nospace align-self-center">
                        <p id="event-participants">
                            {{ num_total_participants }} /
                            {% if num_max_participants == -1 %}&infin;
                            {% else %}{{ num_max_participants }}{% endif %}
                        </p>
                    </div>
                </div>

                <div class="d-flex">
                    <!-- Text Icon -->
                    <div class="col-xs-2">
                        <img
                            src="{% static 'octicons/three-bars.svg' %}"
                            alt="Description-icon"
                            height="16"
                            width="16"
                        />
                    </div>
                    <!-- Event Description -->
                    <div class="col align-self-center">
                        <div id="event-description" class="rendered-md">{{ activity_moment.description.as_rendered  }}</div>
                    </div>
                </div>

                <div class="d-flex">
                    <!-- Text Icon -->
                    <div class="col-xs-2">
                        <img
                                src="{% static 'octicons/clippy.svg' %}"
                                alt=""
                                height="16"
                                width="16"
                        />
                    </div>
                    <!-- Event Description -->
                    <div class="col align-self-center">
                        <p id="event-status">
                            {% if subscriptions_open %}
                                {% if activity_moment.is_full %}
                                    Activity is full.
                                {% else %}
                                    Activity is open for sign-ups
                                {% endif %}
                            {% else %}
                                {% opens_in_future as opens_in_future %}
                                {% if opens_in_future %}
                                    Subscriptions will open on {% get_opening_time "j E, H:i" %}
                                {% else %}
                                    Sign-ups are closed
                                {% endif %}
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% if activity.subscriptions_required %}
                    <strong>NB:</strong> You need to register for this activity before you can join!
                {% endif %}

                <div style="height: 4em;" class="d-none d-md-flex">

                </div>
            {% endblock activity-info %}
        </div>
        <div class="col-12 col-md-5">
            {% if request.user.is_authenticated %}
                {% if perms.activity_calendar.change_activitymoment %}
                    <a class="btn-block btn-sm btn btn-outline-primary mb-4"
                        href="{% url "activity_calendar:edit_moment" activity_id=activity.id recurrence_id=recurrence_id %}">
                        Edit
                    </a>
                {% endif %}


                {% block sign-up-status %}

                {% endblock sign-up-status %}
            {% else %}
                <div class="card border border-info activity-wide">
                    <div class="row">
                        <div class="col-12 col-sm-7 col-md-12">
                            <div class="d-block p-2">
                                You are currently not logged in. Log in if you want to subscribe to this activity.
                            </div>
                        </div>
                        <div class="col-12 col-sm-5 col-md-12">
                            <a href="{% get_login_url %}"
                               class="btn btn-success btn-block">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="alert alert-warning">
                Corona protocol is active! Got symptoms? Stay home!<br>
                <a href="https://beta.kotkt.nl/nextcloud/s/JpGkgdMLCGX4nHL/download">
                    More information
                </a>
            </div>

        </div>
    </div>

    {% block additional-contents %}


    {% endblock additional-contents %}

{% endblock content %}
