{% extends 'core/base.html' %}
{% load static %}

{% block og-title %}Squire - Activities{% endblock %}
{% block og-description %}
    These are the upcoming activities that will take place
{% endblock %}

{% block title %}
    Squire - Activities
{% endblock title %}

{% block content-frame-class %}
    container-fluid
{% endblock %}

{% block content %}
    <div class="m-auto" style="max-width: 1250px;">
        <h1>Upcoming Activities</h1>
        <div class="d-flex justify-content-between align-items-center">
            <p>
                Below is a list of activities for the upcoming two weeks.
            </p>
            <p>
                <a href='{% url "activity_calendar:calendar" %}'
                class="btn btn-info">
                    View entire Calendar
                </a>
            </p>
        </div>
        <div class="row px-2">
            {% for activity_moment in activities %}
                <div class="col-12 col-md-6 col-xl-4 p-1">
                    {% include "activity_calendar/snippet_activity_moment.html" %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
