{% extends "activity_calendar/activity_page_base.html" %}
{% load generic_field %}
{% load render_form %}
{% load calendar_tags %}


{% block sign-up-status %}
    {% if user_subscriptions %}
        <div class="alert alert-success">
            <div class="row">
                <div class="col-12">
                    <div class="p-1">
                        {% if user_subscriptions.count == 1 %}
                            You are subscribed to slot '{{ user_subscriptions.first.activity_slot.title }}'
                        {% else %}
                            You are subscribed to slots:
                            {% for participant_entry in user_subscriptions %}
                                {% if forloop.last %}and {% endif %}
                                '{{ participant_entry.activity_slot.title }}'{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert bg-light border border-danger">
            <div class="row">
                <div class="col-12 col-sm-7 col-md-12">
                    <div class="d-block">
                        You are not registered for this activity
                    </div>
                </div>
                {% if subscriptions_open %}
                    <div class="col-12 col-sm-5 col-md-12">
                        <div class="d-block">
                            Claim a slot below
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock sign-up-status %}


{% block additional-contents %}
    <h2>Slots</h2>

    <!-- Real slots -->
    {% for slot in slot_list %}
        {% include "activity_calendar/slot_blocks/slot_block.html" %}
    {% empty %}
        <p>This activity has no slots (yet)!</p>
    {% endfor %}

    <!-- Create slot button -->
    {% if slot_creation_form %}
        <div class="pt-3 pt-md-0" comment="Create vertical spacing on small screens">
        {% if not slot_creation_form.get_base_validity_error %}
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#slot-creation-modal">
                Create Slot
            </button>
        {% else %}
            <a tabindex="0"  role="button" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom"
               data-content="{% form_rejection_reason slot_creation_form %}" style="text-decoration: none">
                <button class="btn btn-outline-success disabled">
                    Create slot
                </button>
            </a>
        {% endif %}
        </div>
    {% endif %}

    <div class="modal fade" id="slot-creation-modal" tabindex="-1" role="dialog"
         aria-labelledby="slot-creation-modal-aria" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Create Slot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-description">
                    {% render_form form=slot_creation_form id="create_slot_form" has_submit_button=False method="post" action=register_link %}
                </div>
                <div class="modal-footer">
                    <button type="submit" form="create_slot_form" id='slot-creation-btn' class="btn btn-dark greenify">
                        Create Slot
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

{% endblock additional-contents %}