{% extends 'core/base.html' %}

{% load static %}
{% load get_login_url %}
{% load calendar_tags %}
{% load activity_tags %}
{% load martortags %}
{% load martor_render %}
{% load build_absolute_uri %}

{% block title %}
    Squire - {{ activity_moment.title }}
{% endblock title %}

<!-- Link Preview -->
{% block og-title %}
    {{ activity_moment.title }}
{% endblock og-title %}
{% block og-description %}
    [{{ activity_moment.start_date|date:"l j E H:i" }}] {{ activity_moment.description.as_plaintext|truncatewords:20 }}
{% endblock og-description %}
{% block og-image %}{% build_absolute_uri request activity.slots_image_url %}{% endblock og-image %}
{% block og-image-alt %}{{ activity_moment.title }} Icon{% endblock og-image-alt %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/slot_frames.css' %}">
    {% martor_render_css %}
{% endblock css %}

{% block js %}
    {{ block.super }}
    {% martor_render_js %}
{% endblock js %}

{% block js_bottom %}
    {{ block.super }}
    <script src="{% static "js/activate_bootstrap_popover.js" %}"></script>

    {% martor_render_js import_hljs=False invoke_hljs_method=True method_param="'#event-description'" %}
{% endblock js_bottom %}

{% block content-frame-class %}
    wideContentFrame
{% endblock %}

{% block content %}
    <!-- Slots -->
    <h1>{{ activity_moment.title }}</h1>
    <div class="row">
        <div class="col-12 col-md-7">
            {% block activity-info %}
                <div class="d-flex">
                    <!-- Calendar Icon -->
                    <div><i class="far fa-calendar fa-fw"></i></div>
                    <!-- Event Date & Recurrence Information -->
                    <div class="col align-self-center">
                        <div class='nospace'>
                            <p id="event-date">
                                {{ activity_moment|readable_activity_datetime }}
                            </p>
                            {% if activity_moment.is_part_of_recurrence %}
                                <p class="text-muted">
                                Repeats:
                                {% for rule in activity_moment.parent_activity.recurrences.rrules %}
                                {{ rule.to_text }}
                                {% endfor %}
                                </p>
                            {% endif %}
                            <p>
                                {% if activity_moment.local_start_date is not None %}
                                    <small id="activity-alt-start-message" class="text-muted">
                                        {% if activity_moment.recurrence_id.date != activity_moment.local_start_date.date %}
                                            Replacement for the same activity on {{ activity_moment.recurrence_id|date:"l j E (H:i)" }}
                                        {% else %}
                                            Starts
                                            {% is_alt_start_before_normal_occurrence as is_alt_start_before_normal_occurrence %}
                                            {% if is_alt_start_before_normal_occurrence %}
                                                {{ activity_moment.recurrence_id|timeuntil:activity_moment.local_start_date }}
                                                earlier
                                            {% else %}
                                                {{ activity_moment.recurrence_id|timesince:activity_moment.local_start_date }}
                                                later
                                            {% endif %}
                                            than normal!
                                        {% endif %}
                                    </small>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="d-flex">
                    <!-- Location Icon -->
                    <div class="col-xs-2"><i class="fas fa-map-marker-alt fa-fw"></i></div>
                    <!-- Location -->
                    <div class="col nospace align-self-center">
                        <p id="event-location">{{ activity_moment.location }}</p>
                    </div>
                </div>

                {% if activity_moment.parent_activity.organisers.all %}
                    <div class="d-flex">
                        <!-- Organiser Icon -->
                        <div class="col-xs-2"><i class="fas fa-user-tag fa-fw"></i></div>
                        <!-- Location -->
                        <div class="col nospace align-self-center">
                            <p id="event-organisers">
                                Organised by
                                {% for organiser in activity_moment.parent_activity.organisers.all %}
                                    {% if organiser.icon %}
                                        <img
                                            src="{{ organiser.icon.url }}"
                                            height="32"
                                            width="32"
                                        />
                                    {% endif %}
                                    {{ organiser.name }}{% if not forloop.last %},{% endif %}

                                {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endif %}

                {% if activity_moment.slot_creation != activity.SLOT_CREATION_NONE %}
                    <div class="d-flex">
                        <!-- Event Participants Icon -->
                        <div class="col-xs-2"><i class="fas fa-user-friends fa-fw"></i></div>
                        <!-- Patricipants -->
                        <div class="col nospace align-self-center">
                            <p id="event-participants">
                                {{ num_total_participants }} /
                                {% if num_max_participants == -1 %}&infin;
                                {% else %}{{ num_max_participants }}{% endif %}
                            </p>
                        </div>
                    </div>
                {% endif %}

                {% if activity_moment.file_folder %}
                    <div class="d-flex">
                        <!-- Folder icon -->
                        <div class="col-xs-2"><i class="fas fa-folder-open"></i></div>
                        <div class="col nospace align-self-center" id="event-files">
                            {% include "nextcloud_integration/snippets/snippet_small_file_list.html" with folder=activity_moment.file_folder %}
                        </div>
                    </div>
                {% endif %}

                <div class="d-flex">
                    <!-- Text Icon -->
                    <div class="col-xs-2"><i class="fas fa-bars fa-fw"></i></div>
                    <!-- Event Description -->
                    <div class="col align-self-center">
                        <div id="event-description" class="rendered-md">{{ activity_moment.description.as_rendered  }}</div>
                    </div>
                </div>

                {% if activity_moment.slot_creation != activity.SLOT_CREATION_NONE %}
                    <div class="d-flex">
                        <!-- Text Icon -->
                        <div class="col-xs-2"><i class="far fa-clipboard fa-fw"></i></div>
                        <!-- Event Description -->
                        <div class="col align-self-center">
                            <p id="event-status">
                                {% if subscriptions_open %}
                                    {% if activity_moment.is_full %}
                                        Activity is full.
                                    {% else %}
                                        Activity is open for sign-ups
                                    {% endif %}
                                {% else %}
                                    {% if subscription_open_date %}
                                        Subscriptions will open on {{ subscription_open_date|date:"j E, H:i" }}
                                    {% else %}
                                        Sign-ups are closed
                                    {% endif %}
                                {% endif %}
                                <br>
                                {% if activity_moment.subscriptions_required %}
                                    <i>Registrations are <strong>required</strong>! You cannot join this activity otherwise!</i>
                                {% else %}
                                    <small class="text-muted">Registrations are <i>optional</i>, but are appreciated!</small>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endif %}

                <div style="height: 4em;" class="d-none d-md-flex">

                </div>
            {% endblock activity-info %}
        </div>
        <div class="col-12 col-md-5">
            {% if request.user.is_authenticated %}
                {% if can_edit_activity %}
                    <a class="btn-block btn-sm btn btn-outline-primary mb-4"
                        href="{% url "activity_calendar:edit_moment" activity_id=activity.id recurrence_id=recurrence_id %}">
                        <i class="fas fa-pen"></i> Edit
                    </a>
                {% endif %}


                {% block sign-up-status %}

                {% endblock sign-up-status %}
            {% else %}
                <div class="card border border-info activity-wide">
                    <div class="row">
                        <div class="col-12 col-sm-7 col-md-12">
                            <div class="d-block p-2">
                                You are currently not logged in. Log in if you want to subscribe to this activity.
                            </div>
                        </div>
                        <div class="col-12 col-sm-5 col-md-12">
                            <a href="{% get_login_url %}"
                               class="btn btn-success btn-block">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if global_preferences.covid__covid_protocol %}
                <div class="alert alert-warning">
                    Corona protocol is active! Got symptoms? Stay home!<br>
                    <a href="{{ global_preferences.covid__covid_protocol }}">
                        More information
                    </a>
                </div>
            {% endif %}

        </div>
    </div>

    {% block additional-contents %}


    {% endblock additional-contents %}

{% endblock content %}
