{% extends 'core/base.html' %}

{% load static %}
{% load range %}

{% block title %}
  Squire - Calendar
{% endblock title %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/slot_frames.css' %}">
{% endblock css %}

{% block content %}
    <div class="wideContentFrame">
      {% if not subscriptions_open %}
        <!-- ERROR Message -->
        <div id="error-msg" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong class="alert-danger">Oh noes!</strong> Registrations are currently closed!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
      {% endif %}

      {% if num_registered_slots > 0 %}
        <div id="info-msg" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong class="alert-success">Hooray!</strong> You are currently registered for {{ num_registered_slots }} slot(s)!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
      {% endif %}

      <!-- Slots -->
      <h1>{{ activity.title }}</h1>
      <div class="container-fluid">
        <div class="row">
          <!-- Calendar Icon -->
          <div class="col-xs-2">
            <img
              src="{% static 'octicons/calendar.svg' %}" 
              alt="Calendar-icon"
              height="16"
              width="16"
            />
          </div>
          <!-- Event Date & Recurrence Information -->
          <div class="col align-self-center">
            <div class='nospace'>
                <p id="event-date">
                  {% if activity.start_date.date == activity.end_date.date %}
                    <!-- Activity starts and ends on the same day -->
                    {{ activity.start_date|date:"l, j E H:i" }} - {{ activity.end_date|date:"H:i" }}
                  {% else %}
                    <!-- Activity starts and ends on a different day -->
                    {{ activity.start_date|date:"j E, H:i" }} - {{ activity.end_date|date:"j E, H:i" }}
                  {% endif %}
                </p>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Location Icon -->
          <div class="col-xs-2">
            <img
              src="{% static 'octicons/location.svg' %}" 
              alt="Location-icon"
              height="16"
              width="16"
            />
          </div>
          <!-- Location -->
          <div class="col nospace align-self-center">
            <p id="event-location">{{ activity.location }}</p>
          </div>
        </div>
      
        <div class="row">
          <!-- Text Icon -->
          <div class="col-xs-2">
            <img
              src="{% static 'octicons/three-bars.svg' %}" 
              alt="Description-icon"
              height="16"
              width="16"
            />
          </div>
          <!-- Event Description -->
          <div class="col align-self-center">
            <p id="event-description">{{ activity.description }}</p>
          </div>
        </div>
      </div>

      <h2>Total Participants</h2>
      {% if activity.subscriptions_required %}
        <strong>NB:</strong> You need to register for this activity before you can join!
      {% endif %}

      <!-- Participant number -->
      <p>
        {% if max_participants >= 0 %}
          {{ num_total_participants }} / {{ max_participants }} Total Participants
        {% else %}
          Unlimited Total Participants ({{ num_total_participants }} so far)
        {% endif %}
      </p>

      <h2>Slots</h2>
      {% for slot_number in num_dummy_slots|range %}
        {% include "activity_calendar/slot_blocks/dummy_slot_block.html" %}
      {% endfor %}

      {% for slot in slot_list %}
        {% include "activity_calendar/slot_blocks/normal_slot_block.html" %}
      {% empty %}
        This activity has no slots (yet)!
      {% endfor %}
    </div>
{% endblock content %}
