{% extends 'core/base.html' %}

{% load static %}
{% load martor_render %}
{% load build_absolute_uri %}

{% block title %}
  Squire - Calendar
{% endblock title %}

{% block og-title %}
    Knights Activity Calendar
{% endblock og-title %}
{% block og-description %}
    These are all activities taking place at ESRG Knights of the Kitchen Table.
{% endblock og-description %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'fullcalendar/main.min.css' %}" rel='stylesheet'/>
  <link href="{% static 'css/fullcalendar-customisation.css' %}" rel='stylesheet'/>
  {% martor_render_css %}
{% endblock css %}

{% block js %}
  {{ block.super }}
    <script src="{% static 'fullcalendar/main.min.js' %}"></script>
    <script src="{% static 'fullcalendar/locales/en-gb.js' %}"></script>
    <script src="{% static 'js/fullcalendar-init.js' %}"></script>
    {% martor_render_js invoke_hljs_method=True %}
{% endblock js %}

{% block content-frame-class %}
    wideContentFrame
{% endblock %}

{% block content %}

    <!-- ERROR Message -->
    <div id="error-msg">
      <div id="error-template" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none">
        <strong class="alert-danger">Oh noes!</strong> Something went wrong while retrieving calendar info!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <!-- Calendar -->
    <h1>Activity Calendar</h1>
    <div id='loading'>loading...</div>
    <div id='calendar'></div>


  <!-- Event Details Modal -->
    <div class="modal fade" id="event-modal" tabindex="-1" role="dialog" aria-labelledby="event-modal-aria" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modal-description">
              <div class="container-fluid">
                <div class="row">
                  <!-- Calendar Icon -->
                  <div class="col-xs-2">
                    <img
                      src="{% static 'octicons/calendar.svg' %}"
                      alt="Calendar-icon"
                      height="16"
                      width="16"
                    />
                  </div>
                  <!-- Event Date & Recurrence Information -->
                  <div class="col align-self-center">
                    <div class='nospace'>
                      <small>
                        <p id="event-date"></p>
                        <p><small id="occurrence-replacement" class="text-muted"></small></p>
                        <span id="event-recurrence-info">
                          <p id="rrules"></p>
                          <p id="rdates"></p>
                        </span>
                      </small>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <!-- Location Icon -->
                  <div class="col-xs-2">
                    <img
                      src="{% static 'octicons/location.svg' %}"
                      alt="Location-icon"
                      height="16"
                      width="16"
                    />
                  </div>
                  <!-- Location -->
                  <div class="col nospace align-self-center">
                    <small><p id="event-location"></p></small>
                  </div>
                </div>

                <div class="row largespace">
                  <!-- Alert Icon -->
                  <div class="col-xs-2">
                    <img
                      src="{% static 'octicons/alert.svg' %}"
                      alt="Alert-icon"
                      height="16"
                      width="16"
                      class="icon-warning"
                      style="display:none"
                      id="subscribe-required"
                    />
                    <img
                      src="{% static 'octicons/check-circle.svg' %}"
                      alt="Check-icon"
                      height="16"
                      width="16"
                      class="icon-success"
                      style="display:none"
                      id="subscribe-done"
                    />
                    <img
                      src="{% static 'octicons/info.svg' %}"
                      alt="Check-icon"
                      height="16"
                      width="16"
                      style="display:none"
                      id="subscribe-info"
                    />
                  </div>
                  <!-- Subscription -->
                  <div class="col nospace align-self-center">
                    <small>
                      <p id="event-subscription"></p>
                      <p id="event-participants-count"></p>
                      <p id="event-subscription-closed"></p>
                    </small>
                  </div>
                </div>

                <div class="row">
                  <!-- Calendar Icon -->
                  <div class="col-xs-2">
                    <img
                      src="{% static 'octicons/three-bars.svg' %}"
                      alt="Description-icon"
                      height="16"
                      width="16"
                    />
                  </div>
                  <!-- Event Description -->
                  <div class="col align-self-center">
                    <div id="event-description" class="rendered-md"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <a id='event-subscribe-url' class="btn btn-primary" href="">View Registration Slots</a>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="importModalLabel">Import this Calendar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              You can import the Knights agenda into your own agenda. To do so, follow the instructions on adding an agenda from URL and use the URL below.
              <br>
              <small class="text-danger">Do not import the file you get if you navigate to this URL directly</small>
            </p>
            <center class="mb-3">
              <p class="mb-2">
                <code id="calendar-url">
                    {% url "activity_calendar:icalendar" as calendar_url %}
                    {% build_absolute_uri request calendar_url %}
                </code>
              </p>
              <button id="copy-calendar-url-to-clipboard" type="button" class="btn btn-dark btn-sm greenify">Copy URL to clipboard</button>
            </center>
            <p><small class="text-muted">
                For instance, in Google Calendar, go to <i>Add Calendar</i> > <i>From URL</i> and enter URL listed above.
            </small></p>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
