{% extends 'core/base.html' %}

{% load static %}

{% block title %}
  Squire - Calendar
{% endblock title %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'fullcalendar/main.min.css' %}" rel='stylesheet'/>
  <link href="{% static 'css/fullcalendar-customisation.css' %}" rel='stylesheet'/>
{% endblock css %}

{% block js %}
  {{ block.super }}
    <script src="{% static 'fullcalendar/main.min.js' %}"></script>
    <script src="{% static 'fullcalendar/locales/en-gb.js' %}"></script>
    <script src="{% static 'js/fullcalendar-init.js' %}"></script>
{% endblock js %}

{% block content %}
    <div class="wideContentFrame">
      <!-- ERROR Message -->
      <div id="error-msg">
        <div id="error-template" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none">
          <strong class="alert-danger">Oh noes!</strong> Something went wrong while retrieving calendar info!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

      <!-- Calendar -->
      <h1>Activity Calendar</h1>
      <div id='loading'>loading...</div>
      <div id='calendar'></div>
    </div>
{% endblock content %}
