{% load static %}

<div class="card greenify activity-wide">
    <div class="row no-gutters">
        <div class="col-md-1 activityImage">
            <div class="heightener"></div>
            <img src="{{slot.image_url}}" alt="Activity Icon for {{slot.title}}" class="card-img">
        </div>
        <div class="col-md-9">
            <div class="card-body activityName">
                <h5 class="card-title">{{slot.title}}</h5>
                <p class="card-text">{{slot.description}}</p>
                <div class="row no-gutters">
                    
                    <div class="card-text">
                        <small class="text-muted">
                            X / Y Participants
                        </small>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <div class="col-md-2 activityButtons">
            <div class="row no-gutters">
                <button class="btn btn-danger">Deregister</button>
                <button class="btn btn-primary">Register</button>
        </div>
        </div>
    </div>
</div>
