{% load static %}

<div class="card greenify activity-wide">
    <div class="row no-gutters">
        <div class="col-md-1 activityImage">
            <div class="heightener"></div>
            <img src="
                {% block slot_image %}
                    {{ activity.image_url }}
                {% endblock slot_image %}
            " alt="Activity Icon for 
                {% block slot_image_title %}{% endblock slot_image_title %}
            " class="card-img">
        </div>
        <div class="col-md-9">
            <div class="card-body activityName">
                <h5 class="card-title">
                    {% block slot_title %}{% endblock slot_title %}
                </h5>
                {% block slot_description %}{% endblock slot_description %}
                <div class="row no-gutters">
                    <div class="card-text">
                        <small class="text-muted">
                            {% block slot_participants %}{% endblock slot_participants %}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 activityButtons">
            <div class="row no-gutters">
                {% if subscriptions_open %}
                    {% if user in slot.participants.all %}
                        <form action="/api/calendar/deregister/{{ slot.id }}" method="post">{% csrf_token %}
                            <button id="deregister-{{slot.id}}" class="btn btn-danger btn-subscribe">Deregister</button>
                        </form>
                    {% elif slot_number is not None or slot.max_participants == -1 or slot.participants.all|length < slot.max_participants %}
                        {% if activity.max_slots_join_per_participant == -1 or num_registered_slots < activity.max_slots_join_per_participant %}
                            {% block slot_register_button %}{% endblock slot_register_button %}
                        {% else %}
                            <p class="txt-subscribe">Cannot register for more slots</p>
                        {% endif %}
                    {% else %}
                        <p class="txt-subscribe">Slot is full</p>
                    {% endif %}
                {% else %}
                    {% if user in slot.participants.all %}
                        <p class="txt-subscribe"><strong>Registered</strong></p>
                    {% else %}
                        <p class="txt-subscribe">Not Registered</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
