{% load static %}
{% load calendar_tags %}

<div class="card greenify activity-wide">
    <div class="row no-gutters">
        <div class="col-md-1 activityImage">
            <div class="heightener"></div>
            <img src="{{slot.image_url}}" alt="" class="card-img">
        </div>
        <div class="col-md-7">
            <div class="card-body activityName">
                <h5 class="card-title">
                    {{ slot.title }}
                </h5>
                {% if slot.location %}
                    <div class="row no-gutters">
                        <small class="text-muted">
                            Alternative Location: {{ slot.location }}
                        </small>
                    </div>
                {% endif %}
                <p class="card-text">{{ slot.description }}</p>

                <div class="row no-gutters">
                    <div class="card-text">
                        <small class="text-muted">
                            {% if slot.max_participants != -1 %}
                                {{ slot.participants.all|length }} / {{ slot.max_participants }} Participants
                            {% else %}
                                Unlimited participants ({{ slot.participants.all|length }} so far)
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-2 activityButtons">
            {% block slot_info %}

            {% endblock %}
        </div>
        <div class="col-6 col-md-2 activityButtons">
            <div class="row no-gutters">
                {% register_button slot %}
            </div>
        </div>
    </div>
</div>
