{% extends 'core/user_accounts/account_base.html' %}
{% load i18n static %}
{% load generic_field %}

{% block title %}
    Squire - Password change
{% endblock title %}

{% block content %}
    <h1>Password Change</h1>
    <form method="post" id="password_form">{% csrf_token %}
        <p>{% trans 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>

        {% if form.non_field_errors %}
            <ul class="errorlist alert alert-danger">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        {% generic_field form.old_password -1 %}
        {% generic_field form.new_password1 -1 %}
        {% generic_field form.new_password2 -1 %}

        {% include 'core/description_required_fields.html' %}
        <div class="btn-group">
            <button type="submit" form="password_form" class="btn btn-success">
                <i class="fas fa-edit"></i> {% trans 'Change my password' %}
            </button>
            <a href="{% url 'account:site_account' %}" class="btn btn-secondary">
                <i class="fas fa-times"></i> Cancel changes
            </a>
        </div>
    </form>
{% endblock content %}
