{% extends 'committees/group_detail_base.html' %}
{% load static %}
{% load activity_tags %}

{% block content-frame-class %}
    container
{% endblock %}


{% block content %}
    {{ block.super }}

    <p>
        Below is a list of all upcoming activities organised by this committee
    </p>
    <hr>

    {% for activity in activities %}
        <div class="mb-4">
            <h4>
                {{ activity.title }}
            </h4>
            {% for activity_moment in activity|get_next_activity_instances %}
                <div class="row">
                    <div class="col-3">
                        {{ activity_moment.start_date|date:"l b j H:i" }}
                    </div>
                    <div class="col-4">
                        {{ activity_moment.title }}
                    </div>
                    <div class="col-3">
                        Participants: {{ activity_moment.participant_count }}
                        {% if activity_moment.slot_creation != activity.SLOT_CREATION_AUTO %}
                            Slots: {{ activity_moment.get_slots.count }}
                        {% endif %}
                    </div>

                    <div class="col-2">
                        <a class="btn btn-sm btn-info"
                           href="{{ activity_moment.get_absolute_url }}">
                            View
                        </a>
                    </div>


                </div>
            {% empty %}
                There are no instances of this activity planned
            {% endfor %}
        </div>

    {% endfor %}

{% endblock %}
