{% extends 'committees/group_detail_base.html' %}
{% load static %}
{% load render_form %}

{% block content-frame-class %}
    container
{% endblock %}


{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{% url "committees:group_activities" group_id=association_group.id %}">Home</a></li>
    <li class="breadcrumb-item"><a>Add actuvity for {activity.title}</a></li>
{% endblock %}


{% block content %}
    {{ block.super }}

    <h2>
        Add activity moment instance for {{ activity.title }}
    </h2>
    <hr>

    {% render_form method="post" id="submit_form"  has_submit_button=False uses_file_field=True %}

    <div class="btn-group" role="group" aria-label="Form changing">
        <button form="submit_form" type="submit" class="btn btn-success">
            <i class="fas fa-edit"></i> Create activity moment instance
        </button>
        <a href="{% url "committees:group_activities" group_id=association_group.id %}"
           class="btn btn-secondary">
            <i class="fas fa-times"></i> Cancel creation
        </a>
    </div>



{% endblock %}
