{% extends 'committees/group_detail_base.html' %}
{% load static %}
{% load activity_tags %}

{% block content-frame-class %}
    container
{% endblock %}


{% block content %}
    {{ block.super }}

    <h3>
        Meetings
    </h3>
    {% if meeting_activity.is_recurring %}
        <p class="">
            Repeats:
            {% for rule in meeting_activity.recurrences.rrules %}
                {{ rule.to_text }}
            {% endfor %}
        </p>
    {% endif %}
    <div class="row mb-3">
        {% for meeting in meeting_list %}
            <div class="col col-md-6">
                <h5 class="{% if meeting.is_cancelled %}text-muted{% endif %}">
                    <i class="fas fa-calendar-day"></i>
                    {{ meeting.start_date|date:"l j F, H:i"|capfirst }}
                </h5>
                <table class="table table-sm">
                    <tbody>
                        {% if meeting.is_cancelled %}
                            <tr>
                                <td colspan="2">
                                    <span class="text-muted">
                                        This meeting is cancelled
                                    </span>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    Location:
                                </td>
                                <td>
                                    {{ meeting.location|default:"undetermined" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Description:
                                </td>
                                <td>
                                    {{ meeting.description|default:"-" }}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                {% if not meeting.is_cancelled %}
                <a href="{% url "committees:meetings:edit" group_id=association_group.id recurrence_id=meeting.recurrence_id %}"
                   class="btn btn-sm btn-outline-primary">
                    <i class="fas fa-pen"></i> Edit
                </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <a class="btn btn-primary btn-sm"
       href="{% url "committees:meetings:add" group_id=association_group.id %}">
        <i class="fas fa-plus"></i> Add new meeting
    </a>

{% endblock %}
