
{% extends 'core/base.html' %}

{% load static %}

{% block title %}
  Mailcow Server Status
{% endblock title %}

{% block content %}
    <h1>Mailcow Server Status</h1>
    {% if not mailcow_host %}
        <p>Mailcow client is not set up. Modify settings.py and add a host and API key.</p>
    {% else %}
        <p>Mailcow Host: <a href="{{ mailcow_host }}">{{ mailcow_host }}</a></p>

        {% if error %}
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="fas fa-exclamation-triangle mr-3"></i> {{ error }}
        </div>
        {% endif %}

        <div class="d-flex justify-content-between align-items-center">
            <h2>Member Aliases</h2>
            {% if error %}
                <button type="button" class="btn btn-primary" disabled><i class="fas fa-redo-alt"></i> Update</button>
            {% else %}
                <form id="update_member_aliases" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="alias_type" value="members"/>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-redo-alt"></i> Update</button>
                </form>
            {% endif %}
        </div>
        <p>
            A member alias is an alias that can be used to send mails to specific groups of members registered in Squire, depending on their <a href="{% url 'account:site_account' %}">personal preferences</a>.
            The alias can be 'internal' in the sense that only mailboxes in the domain can send emails to this alias. Note that this also includes <b>public</b> aliases set up on the domain, meaning that internal aliases can still be emailed from external domains this way.
        </p>
        {% include "mailcow_integration/snippets/alias_list.html" with aliases=member_aliases host=mailcow_host only %}

        <p>
            Likewise, all committees can be emailed through the following aliases.
        </p>
        {% include "mailcow_integration/snippets/alias_list.html" with aliases=global_committee_aliases host=mailcow_host only %}

        <div class="d-flex justify-content-between align-items-center">
            <h2>Committee Aliases</h2>
            {% if error %}
                <button type="button" class="btn btn-primary" disabled><i class="fas fa-redo-alt"></i> Update</button>
            {% else %}
                <form id="update_committee_aliases" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="alias_type" value="committees"/>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-redo-alt"></i> Update</button>
                </form>
            {% endif %}
        </div>
        <p>
            A committee alias is a <b>public</b> alias that can be used to send mails to specific members of a committee, order, or workgroup set up in Squire.
            These aliases are public, allowing external domains to also send emails to members of such committees.
        </p>
        {% include "mailcow_integration/snippets/alias_list.html" with aliases=committee_aliases host=mailcow_host only %}


        <h2>Orphan Data</h2>
        <p>
            Squire leaves behind a specific message on aliases it creates. It may happen that some of this data is left behind when Squire no longer needs it.
        </p>
        <ul class="list-group">
            {% for alias in unused_squire_comments %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ alias.address }}
                    <span>{{ alias.goto|join:", " }}</span>
                </li>
            {% empty %}
                <p><i>No orphan data found.</i></p>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}

{% block js_bottom %}
    {{ block.super }}
    <script src="{% static "js/activate_bootstrap_tooltip.js" %}"></script>
{% endblock %}
