{% load static %}
{% if import_hljs %}
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
{% endif %}
{% if invoke_hljs_method %}
    <script>
        // Method that invokes Martor's highlight-js (for code-block syntax highlighting)
        function martorhljs(selector) {
            $(selector + ' pre').each(function(i, block){
                hljs.highlightBlock(block);
            });
        }
        {% if method_param is not None %}
            martorhljs({{ method_param }});
        {% endif %}
    </script>
{% endif %}
