
{% extends 'core/base.html' %}

{% load static %}
{% load bootstrap_tabs %}

{% block title %}
  Google Workspace Server Status
{% endblock title %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/bootstrap_tabs.css' %}">
{% endblock css %}

{% block content %}
    {% bootstrap_tabs tabs %}
    <h1>Workspace Status {%if not error %}<i class="fas fa-check-circle fa-fw text-success align-middle" style="font-size: 16px;"></i>{% endif %}</h1>
    {% if error %}
        <div class="alert alert-{{ alert_type|default:'danger' }} d-flex align-items-center" role="alert">
            <i class="fas fa-exclamation-triangle mr-3"></i> {{ error }}
        </div>
    {% endif %}
    <p>Below is all the data synced with Google Workspaces.</p>
    <h5>Domains:</h5>
    <p>
        Main domain: <i class="fas fa-at fa-fw"></i> {{ domain }}
    </p>
    <p class="mb-0">
        Additional:
        <ul class="fa-ul">
            {% for dom in workspace_domains %}
            <li class="fa-i"><i class="fas fa-at fa-fw"></i> {{ dom }}</li>
            {% empty %}
            <li><i>No domains set up</i></li>
        {% endfor %}
        </ul>
    </p>

    <p class="text-right">
    <button class="btn btn-success greenify" type="button" data-toggle="collapse" data-target=".workspace-card-collapse" aria-expanded="true" aria-controls="workspace-card-collapse">
        Toggle all
    </button>
    </p>

    <h3>Mailing List Workspace Groups</h3>
    <p>Lists all mailing lists and their corresponding Workspace Groups.</p>
    <div>
        {% for committee, group, group_members_sync, errors in workspace_mailing_lists %}
            {% include "gworkspace_integration/snippets/workspacegroup.html" %}
        {% endfor %}
    </div>

    <h3>Committee Workspace Groups</h3>
    <p>Lists all committees and their corresponding Workspace Groups.</p>
    <div>
        {% for committee, group, group_members_sync, errors in workspace_groups %}
            {% include "gworkspace_integration/snippets/workspacegroup.html" %}
        {% endfor %}
    </div>

    <h3>Member Workspace Users</h3>
    <p>Lists all active(!) members and their corresponding workspace users.</p>
    <div>
    {% for member, user, errors in workspace_pairs %}
        {% include "gworkspace_integration/snippets/workspacemember.html" %}
    {% endfor %}
    </div>

    <h3>Orphan Workspace Users</h3>
    <p>Lists all workspace users that are either linked to an inactive(!) member or a non-existing member.</p>
    <div>
    {% for member, user, errors in orphan_users %}
        {% include "gworkspace_integration/snippets/workspacemember.html" %}
    {% endfor %}
    </div>

{% endblock content %}

{% block js_bottom %}
    {{ block.super }}
    <script src="{% static "js/activate_bootstrap_tooltip.js" %}"></script>
{% endblock %}
