
{% extends 'core/base.html' %}

{% load static %}

{% block title %}
  Squire - Downloads
{% endblock title %}

{% block og-title %}
    Knights Downloads
{% endblock og-title %}
{% block og-description %}
    A central location for association protocols or documents.
{% endblock og-description %}

{% block content %}
    <img src="{% static 'images/newsletter_header.png' %}" alt="Knights newsletter header image" width="100%" />

    <h1>Downloads</h1>
    <p>
        Looking for official bureaucracy? All public protocols, decisions, and whatnot can be accessed <a href="{{ global_preferences.downloads__share_link }}">here</a>
    </p>
    <p>
        Missing a document, found an outdated one, or have questions about them? Contact the board!
    </p>
{% endblock content %}
