
{% load field_tags %}
{% load contains_any_error %}

<div class="form-group">
    {% if fields|contains_any_error %}
        <!-- Field Errors -->
        <ul class="errorlist alert alert-danger">
            {% for field, _ in fields %}
                {% for error in field.errors %}
                    <small><li>{{ error }}</li></small>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if is_markdown %}
        {% with fields.0.0 as field %}
            <h6>{{ field.label|title }}</h6>
            {{ field }}
        {% endwith %}
    {% else %}
        <div class="input-group">
            {% if only_checkboxes %}
                {% for field, _ in fields %}
                    <div class="form-check form-check-inline{% if field.errors %} alert-danger{% endif %}">
                        {{ field }}
                        <label class="form-check-label" for="{{ field.auto_id }}">{{ field.label|title }}</label>
                    </div>
                {% endfor %}
            {% else %}
                <div class="input-group-prepend">
                    <!-- Field Names -->
                    {% for field, _ in fields %}
                        <span class="input-group-text{% if field.errors %} alert-danger{% endif %}">
                            {{ field.label|title }}{{ field|get_required_indicator }}
                        </span>
                    {% endfor %}
                </div>
                <!-- HTML Inputs -->
                {% for field, max_px_width in fields %}
                    {{ field|set_max_width:max_px_width }}
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

    <!-- Field Help Texts -->
    {% for field, _ in fields %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endfor %}
</div>
