{% extends 'core/base.html' %}

{% load static %}
{% load render_form %}

{% block content-frame-class %}
    wideContentFrame
{% endblock %}

{% block content %}

    <h2>Survey: {{ survey.name }}</h2>

    <div class="row mb-3">
        {% if survey.organisers.exists %}
            <div class="col-12">
                The answers of this survey will be shared with
                {% for organiser in survey.organisers.all %}
                    {% if organiser.icon %}
                        <img
                            class="ml-1"
                            src="{{ organiser.icon.url }}"
                            height="32"
                            width="32"
                        />
                    {% endif %}
                    {{ organiser.name }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>



    {% render_form has_submit_button=False id="submit_form" method="post" uses_file_field=True %}

    <div class="btn-group mt-5" role="group" aria-label="Form changing">
        <button form="submit_form" type="submit" class="btn btn-success">
            <i class="fas fa-edit"></i> Save answers
        </button>
        <a href="{% url "surveys:overview" %}"
           class="btn btn-secondary">
            <i class="fas fa-times"></i> Cancel
        </a>
    </div>

{% endblock %}
