{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Squire - {{ Boardgames }}
{% endblock title %}

{% block content-frame-class %}
 container
{% endblock %}


{% block content %}
    <h1>Availlable board games</h1>
    <div class="row gx-4">
        {% for boardgame in boardgames %}
                <div class="col-12 col-lg-6 p-2">
                    <div class="d-flex border border-dark rounded">

                        <div class="p-2 col-auto" style="">
                            {% if boardgame.image %}
                                <div
                                    style="background-size: contain; background-position: center;
                                        background-image: url('{{ boardgame.image }}');
                                        background-repeat: no-repeat; width: 4em; height: 4em;"></div>
                            {% else %}
                                <div
                                    style="background-size: contain; background-position: center;
                                        background-image: url('{% static 'images/header_logo.png' %}');
                                        background-repeat: no-repeat; width: 4em; height: 4em;"></div>

                            {% endif %}
                        </div>
                        <div class="col p-2" style="">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col">
                                        <h4>{{ boardgame.name }}
                                            {% if boardgame.is_owned_by_association %}
                                            <img style="height: 1em;" src="{% static 'images/header_logo.png' %}">
                                            {% endif %}

                                        </h4>
                                        <p>{{ boardgame.note }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                   <div class="col" style="padding-bottom: -0.5em;">
                                       {% if user.is_authenticated %}
                                           <small>
                                            {% if boardgame.is_owned_by_association %}
                                                Owned by:
                                            {% else %}
                                                Supplied by:
                                            {% endif %}
                                               {% for owner in boardgame.ownerships.all %}
                                                   {{ owner.owner }}{% if not forloop.last %}, {% endif %}
                                               {% endfor %}
                                           </small>
                                       {% endif %}
                                    </div>
                                    <div class="col-4 d-none d-md-inline pr-0">
                                        {% if boardgame.achievements.all %}
                                            <a class="btn btn-sm btn-block btn-outline-primary mb-2"
                                               href="{% url "achievements/all" %}">
                                                Achievement
                                            </a>
                                        {% endif %}
                                        {% if boardgame.bgg_id %}
                                        <a class="btn btn-sm btn-block btn-outline-info"
                                           target="_blank" rel="noopener noreferrer"
                                           href="https://boardgamegeek.com/boardgame/{{ boardgame.bgg_id }}/">Check on
                                            <img style="height: 1em;" src="https://cf.geekdo-static.com/icons/favicon2.ico">BGG
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 d-md-none p-2">
                            <div class="row">
                                <div class="col-12">
                                    {% if boardgame.achievements.all %}
                                        <a class="btn btn-sm btn-block btn-outline-primary mb-2"
                                           href="{% url "achievements/all" %}">
                                            Achievement
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    {% if boardgame.bgg_id %}
                                        <a class="btn btn-sm btn-block btn-outline-info"
                                           target="_blank" rel="noopener noreferrer"
                                           href="https://boardgamegeek.com/boardgame/{{ boardgame.bgg_id }}/">Check on
                                            <img style="height: 1em;" src="https://cf.geekdo-static.com/icons/favicon2.ico">BGG
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

{% endblock %}
