{% extends 'core/base.html' %}
{% load static %}
{% load paginator %}
{% load inventory_tags %}

{% block title %}
    Squire - Boardgames
{% endblock title %}

{% block content-frame-class %}
    container
{% endblock %}


{% block content %}
    <h1>Item catalogue for {{ item_type }}</h1>

    {% if can_add_items %}
        <a href="{% url "inventory:catalogue_add_new_item" type_id=item_type %}"
           class="btn btn-sm btn-primary mb-3">
            Add new {{ item_type }}
        </a>
    {% endif %}
    {% include "utils/snippets/filter_form_snippet.html" with form=filter_form %}

    <div class="table-responsive">
    <table class="table table-striped table-hover">
        <colgroup>
            <col span="1" style="width: 4em;">
            <col span="1" style="min-width: 10em;">
            <col span="1" style="{% if can_maintain_ownerships %}min-width: 15em;{% endif %}">
            <col span="1">
            <col span="1" style="min-width: 10em;">
        </colgroup>

        <thead>
        <tr class="">
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Owned</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr class="">
                <td>
                    {% if item.image %}
                        <a class="enlargable_image">
                            <img style="width: 2em;" src={{ item.image.url }}>
                        </a>
                    {% endif %}
                </td>
                <td style="width: 20%;">
                    <div class="" data-toggle="tooltip" data-placement="bottom" title="{{ item.description }}">
                        {{ item.name }}
                    </div>

                </td>
                <td>
                    {% if can_maintain_ownerships %}
                        <div class="d-flex justify-content-between">
                            <div>
                                {% for owner in item.currently_in_possession %}
                                    <small>
                                        {{ owner.owner }}{% if not forloop.last %}, {% endif %}
                                    </small>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        {% render_ownership_tags item %}
                    {% endif %}
                </td>
                <td>
                    {% if can_maintain_ownerships %}
                        <a class="btn btn-sm btn-info"
                           href="{% url "inventory:catalogue_item_links" type_id=item_type item_id=item.id %}">
                            Details
                        </a>
                    {% elif can_change_items %}
                        <a href="{% url "inventory:catalogue_update_item" type_id=item_type item_id=item.id %}"
                           class="btn btn-sm btn-primary">
                            Edit
                        </a>
                    {% endif %}
                </td>
                <td>
                    <div class="d-lg-flex justify-content-end">
                        {% if can_add_to_group %}
                            <a href="{% url "inventory:catalogue_add_group_link" type_id=item_type item_id=item.id %}"
                               class="btn btn-sm btn-primary mb-2 mb-lg-0">
                                Add to committee
                            </a>
                        {% endif %}
                        {% if can_add_to_member %}
                            <a href="{% url "inventory:catalogue_add_member_link" type_id=item_type item_id=item.id %}"
                               class="btn btn-sm btn-secondary">
                                Add to member
                        </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="{% if can_change_items %}4{% else %}3{% endif %}">This catalogue is still empty</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>

    {% render_paginator %}

    {% include "inventory/snippets/snippet_enlarged_image_modal.html" %}

{% endblock %}


{% block js_bottom %}
    {{ block.super }}
    <script src="{% static "js/enlarge_item_image.js" %}"></script>
    <script src="{% static "js/activate_bootstrap_tooltip.js" %}"></script>
{% endblock %}
