{% extends 'core/base.html' %}
{% load render_form %}

{% block title %}
    Squire - Inventory
{% endblock title %}

{% block content-frame-class %}
    container
{% endblock %}

{% block content %}
    <h1>Update {{ item }}</h1>

    {% render_form method="post" id="submit_form"  has_submit_button=False %}

    <div class="btn-group" role="group" aria-label="Form changing">
        {% if redirect_to_url %}
            <a href="{{ redirect_to_url }}"
               class="btn btn-outline-secondary">Cancel</a>
        {% else %}
            <a href="{% url "inventory:catalogue" type_id=item_type.id %}"
               class="btn btn-outline-secondary">Cancel</a>
        {% endif %}
        {% if can_delete %}
        <a href="{% url "inventory:catalogue_delete_item" type_id=item_type.id item_id=item.id %}"
           class="btn btn-outline-danger">Delete</a>
        {% endif %}
        <button form="submit_form" type="submit" class="btn btn-primary" name="btn_save">
            Save item
        </button>
    </div>

{% endblock %}
