{% extends 'inventory/catalogue_base.html' %}
{% load render_form %}

{% block content %}
    {{ block.super }}
    <h3>Add link to {{ item }}</h3>
    <p>
        Below you can make a new link to {{ item.name }}.
    </p>


    {% render_form method="post" id="submit_form"  has_submit_button=False %}

    <div class="btn-group" role="group" aria-label="Form changing">
        <button form="submit_form" type="submit" class="btn btn-success">
            <i class="fas fa-edit"></i> Save ownership link
        </button>
        {% if redirect_to_url %}
            <a href="{{ redirect_to_url }}"
               class="btn btn-secondary"><i class="fas fa-times"></i> Cancel</a>
        {% else %}
            <a href="{% url "inventory:catalogue" type_id=item_type %}"
               class="btn btn-secondary"><i class="fas fa-times"></i> Cancel</a>
        {% endif %}
    </div>

{% endblock %}
