{% extends 'inventory/catalogue_base.html' %}
{% load render_form %}

{% block content %}
    {{ block.super }}
    <h3>{{ ownership }}</h3>
    <div class="mb-3">
        <div class="row">
            <div class="col-3">
                {{ item_type.name|capfirst }}
            </div>
            <div class="col-9">
                {{ item.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Owner
            </div>
            <div class="col-9">
                {{ ownership.owner }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Currently at Knights:
            </div>
            <div class="col-9">
                {% if ownership.is_active %}Yes{% else %}No{% endif %}
            </div>
        </div>
    </div>



    {% render_form method="post" id="submit_form"  has_submit_button=False %}

    <div class="btn-group" role="group" aria-label="Form changing">
        <button form="submit_form" type="submit" class="btn btn-success">
            <i class="fas fa-edit"></i> Save changes
        </button>
        <a href="{% url "inventory:catalogue_item_links" type_id=item_type item_id=item.id %}"
           class="btn btn-secondary"><i class="fas fa-times"></i> Cancel</a>
    </div>

{% endblock %}
