{% extends 'core/base.html' %}
{% load render_form %}

{% block title %}
    Squire - Inventory
{% endblock title %}

{% block content-frame-class %}
    container
{% endblock %}

{% block content %}
    <h1>Create new {{ item_type }}</h1>
    <p>
        Below you can create a new {{ item_type }}.
    </p>

    {% render_form method="post" id="submit_form"  has_submit_button=False uses_file_field=True %}

    <div class="btn-group" role="group" aria-label="Form changing">
        <a href="{% url "inventory:catalogue" type_id=item_type %}"
           class="btn btn-secondary">Cancel</a>
        <button form="submit_form" type="submit" class="btn btn-primary" name="btn_save_to_group">
            Save and assign to group
        </button>
        <button form="submit_form" type="submit" class="btn btn-primary" name="btn_save_to_member">
            Save and assign to member
        </button>
        <button form="submit_form" type="submit" class="btn btn-success" name="btn_save">
            Save item
        </button>
    </div>

{% endblock %}
