{% extends 'inventory/catalogue_base.html' %}
{% load render_form %}

{% block content %}
    {{ block.super }}

    <h3>Create new {{ item_type.name }}</h3>
    <p>
        Below you can create a new {{ item_type.name }}.
    </p>

    {% render_form method="post" id="submit_form"  has_submit_button=False uses_file_field=True %}

    <div class="btn-group" role="group" aria-label="Form changing">
        <button form="submit_form" type="submit" class="btn btn-success" name="btn_save">
            <i class="fas fa-edit"></i> Save item
        </button>
        <button form="submit_form" type="submit" class="btn btn-primary" name="btn_save_to_group">
            <i class="fas fa-edit"></i> <i class="fas fa-users"></i> Save to group
        </button>
        <button form="submit_form" type="submit" class="btn btn-primary" name="btn_save_to_member">
            <i class="fas fa-edit"></i> <i class="fas fa-user"></i> Save to member
        </button>
        <a href="{% url "inventory:catalogue" type_id=item_type %}"
           class="btn btn-secondary">
            <i class="fas fa-times"></i> Cancel
        </a>
    </div>

{% endblock %}
