{% extends 'core/base.html' %}
{% load render_form %}

{% block title %}
    Squire - Inventory
{% endblock title %}

{% block content-frame-class %}
    container
{% endblock %}

{% block content %}
    <h1>Adjust link to {{ ownership.content_object.name }}</h1>
    {% render_form method="post" id="submit_form"  has_submit_button=False %}

    <div class="btn-group w-100" role="group" aria-label="Form changing">
        <a href="{% url "inventory:committee_items" group_id=group.id %}"
           class="btn btn-secondary">Cancel</a>
        <button form="submit_form" type="submit" class="btn btn-success">
            Save changes
        </button>
    </div>

{% endblock %}
