
{% extends 'core/base.html' %}

{% load static %}
{% load bootstrap_tabs %}

{% block title %}
  Logging
{% endblock title %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/bootstrap_tabs.css' %}">
{% endblock css %}

{% block content %}
    {% bootstrap_tabs tabs %}
    <h1>Logs</h1>
    <p>Logging created by various modules. Logs are written to two rotating files sizing (at most) 5MB each.</p>
    {% if log1 is not None %}
        <h4>{{ log1_name }}</h4>
        {% if not log1 %}
            <p class="font-italic">No logging written.</p>
        {% else %}
            <samp class="text-break">{{ log1 }}</samp>
        {% endif %}
        <hr>
    {% endif %}
    {% if log2 is not None %}
        <h4>{{ log2_name }}</h4>
        {% if not log2 %}
            <p class="font-italic">No logging written.</p>
        {% else %}
            <samp class="text-break">{{ log2 }}</samp>
        {% endif %}
        <hr>
    {% endif %}
    {% if log1 is None and log2 is None %}
        <p class="font-italic">No logging written.</p>
    {% endif %}
{% endblock content %}

{% block js_bottom %}
    {{ block.super }}
    <script src="{% static "js/activate_bootstrap_tooltip.js" %}"></script>
{% endblock %}
