{% extends 'core/base.html' %}
{% load i18n static %}
{% load generic_field %}

{% block title %}
  Squire - Password Reset
{% endblock title %}


{% block content %}
  <div class='contentFrame'>
    <h1>Password Reset</h1>
    <p>{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

    <form method="post">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <ul class="errorlist alert alert-danger">
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% generic_field form.email -1 %}

      <input type="submit" value="{% trans 'Reset my password' %}" class="greenify btn btn-dark">
    </form>
  </div>

{% endblock content %}
