{% extends 'core/base.html' %}
{% load i18n static %}
{% load generic_field %}

{% block title %}
  Squire - Password Reset
{% endblock title %}

{% block content %}
    <div class='contentFrame'>
        {% if validlink %}
            <h1>Password Reset</h1>
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

            <form method="post">{% csrf_token %}
                {% if form.non_field_errors %}
                    <ul class="errorlist alert alert-danger">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% generic_field form.new_password1 -1 %}
                {% generic_field form.new_password2 -1 %}

                {% include 'core/description_required_fields.html' %}
                <input type="submit" value="{% trans 'Change my password' %}" class="greenify btn btn-dark">
            </form>
        {% else %}
            <h1>Password Link Invalid!</h1>
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
    </div>
{% endblock content %}
