
/* Center achievement panes in the contentframe */
.achievementList {
    text-align: center;
}

/* Left-align text in modal */
.modal-achievement {
    text-align: left;
}

/* Achievement panes */
.achievement-card {
    display: inline-block;
    width: 375px;
    min-height: 425px;
    margin: 5px;
    padding: 10px;
    vertical-align: top;
}
    /* Center achievement image in its pane */
    .achievement-card .achievementImage {
        width: 120px;
        height: 120px;
        overflow: hidden;
        position: relative;
        margin: 5px auto;
    }
        /* Center achievement image in its pane */
        .achievement-card .achievementImage > img {
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

    /* Change margin from claimant list */
    .achievement-card .achievementClaimants {
        margin: 5px;
        text-align: left;
    }

/* Center achievement description and apply minimum height  */
.achievementName {
    width: 100%;
    min-height: 150px;
}
    .achievementName h3, .achievementName h4, .achievementName h5 {
        margin-bottom: 5px;
    }
    .achievementName p {
        margin-bottom: 0px;
    }

/* Center 'Nobody claimed' message */
.achievementMessage {
    text-align: center;
    width: 100%;
}

/* Wide Achievement Design */
.achievement-wide {
    padding: 5px;
    text-align: left;
    margin: 10px auto;
}
    .achievement-wide .card-body {
        padding: 5px 10px;
        min-height: inherit;
    }
    /* Auto-scale image */
    .achievement-wide .achievementImage > img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        width: initial;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5px;
    }
    .achievement-wide .achievementClaimants {
        display: flex;
        justify-content: flex-end;
    }
        .achievement-wide .achievementClaimants p {
            align-self: flex-end;
        }
    .achievement-wide ul {
        margin-bottom: 0px;
        padding-left: 20px;
    }
