
{% extends 'core/base.html' %}

{% block title %}
    Squire - Homepage
{% endblock title %}

{% block og-title %}
    Squire Homepage
{% endblock og-title %}

{% block content-frame-class %}
    container-fluid
{% endblock %}

{% block content %}
    <div class="m-auto py-5" style="max-width: 1250px;">
        <div class="row">
            <div class="col-12  text-center ">
                <p class="lead display-4" id="WelcomeMessage">
                    Hello {{ welcome_name }}
                </p>
                {% if not unique_messages %}
                <p>
                    {{ greeting_line|urlize }}
                </p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% for message in unique_messages %}
                {% include "snippets/unique_alerts.html" %}
            {% endfor %}
            <div class="col-md-8">
                <div class="row">
                    <div class="col-12">
                        <h3>
                            Activities in the next 7 days
                        </h3>
                    </div>
                    {% for activity_moment in activities %}
                        <div class="col-12 col-md-6 p-1">
                            {% include "activity_calendar/snippet_activity_moment.html" %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                {% if not member %}
                    <div class="alert alert-warning">
                        This account has no membership connected yet. Please contact the board with your username so they
                        can connect your membership to this account. Until that is done, functionality will be limited.
                    </div>
                {% else %}
                    {% if member.associationgroup_set.exists %}
                        <div>
                            <h3>My groups</h3>

                            {% for group in member.associationgroup_set.all %}
                                <div class="card mb-2">
                                    <div class="card-header d-flex">
                                        <div style="font-size: xx-small;">
                                            <div style="margin-left: -1.5em; margin-top: -1em;">
                                                {% include "committees/snippets/snippet_assoc_group_icon.html" with association_group=group%}
                                            </div>
                                        </div>
                                        <div>
                                            {{ group.name }}
                                        </div>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col">
                                                    Control panel
                                                </div>
                                                <a class="col btn btn-sm btn-outline-primary"
                                                   href="{% url "committees:group_general" group_id=group.id %}"
                                                >   <i class="fas fa-arrow-right"></i> Go to
                                                </a>
                                            </div>
                                        </li>
                                        {% for shortcut in group.shortcut_set.all%}
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col">
                                                        {{ shortcut.name|capfirst }}
                                                    </div>
                                                    <a class="col btn btn-sm btn-outline-primary"
                                                       href="{{ shortcut.url }}"
                                                    >   <i class="fas fa-external-link-alt"></i> Go to
                                                    </a>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
                <div>
                    <h4>Encountered Evil?</h4>
                    <p>
                        Bugs are annoying. If you encountered one, please mark them on GitHub or notify the board and
                        we will send in our troops!
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="https://github.com/esrg-knights/Squire/issues"
                        target="_blank" rel="noreferrer noopener"
                        ><i class="fas fa-bug"></i> Report Bug</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
