{% extends 'core/base.html' %}

{% block title %}
    Squire - 404 Page not Found
{% endblock title %}

{% block content %}

    <h1>These ain't Kansas any more</h1>
    <p>In fact, this isn't anything. There is nothing here. Well, this text, but that's just about everything.</p>
    <p>Either you typed in a wrong address, or the address has changed since your last visit. Whatever it is, I
        wish you the best in figuring out where you need to go. Good luck and god speed!</p>

{% endblock %}
