{% extends 'core/base.html' %}

{% block title %}
    Squire - 403 Access Denied
{% endblock title %}

{% block content %}

    <h1>One does not simply...</h1>
    <p>Enter this page.</p>
    <p>Seriously, it takes years of experience. A training that requires you to travel to Zimbabwe, Nepal and Belgium.
    It's not impossible, likely someone has entered this page, but it's not going to be you. At least not now.</p>

    <p>
    I wish you the best of luck on this journey you will partake in order to access this page, but until then. I suggest
    you go back to the page you came from.
    </p>

{% endblock %}
