{% extends 'core/base.html' %}
{% load i18n static %}
{% load generic_field %}

{% block title %}
  Squire - Register
{% endblock title %}


{% block content %}
    <div class='contentFrame'>
        <h1>Register</h1>

        <p>{% trans "Please enter your password twice so we can verify you typed it in correctly." %}</p>

        <form method="post">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
                <ul class="errorlist alert alert-danger">
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% generic_field form.email -1 %}
            {% generic_field form.username -1 %}
            {% generic_field form.nickname -1 %}
            {% generic_field form.password1 -1 %}
            {% generic_field form.password2 -1 %}

            {% include 'core/description_required_fields.html' %}
            <input type="submit" value="Create Account" class="greenify btn btn-dark">
        </form>
        <p>
            <br>
            Already have an account? <a href="{% url 'core/user_accounts/login' %}">Login</a> instead!
        </p>
    </div>
{% endblock content %}
