{% extends 'core/base.html' %}

{% block title %}
  Squire - Membership Data
{% endblock title %}

{% load generic_field %}
{% load selected_m2m_labels %}

{% block og-title %}
    Edit Knights Membership Information
{% endblock og-title %}
{% block og-description %}
    Edit your Knights' membership information here.
{% endblock og-description %}

{% block content-frame-class %}
    wideContentFrame
{% endblock %}

{% block content %}
    <h1>Editing Member Information...</h1>
    <p>
      <form method="post">
          {% csrf_token %}
          {% if form.non_field_errors %}
            <ul class="errorlist alert alert-danger">
              {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}

          <h3>Basic Information</h3>
          {% generic_field form.first_name form.tussenvoegsel form.last_name -1 110 -1 %}

          <h3>Membership Status</h3>
          {% generic_field form.has_paid_membership_fee -1 %}
          {% if form.is_honorary_member.value %}
            <!-- Only show the option for honorary members if they actually are a honorary member -->
            {% generic_field form.is_honorary_member -1 %}
          {% endif %}
          {% generic_field form.member_since -1 %}

          <h3>Contact Details</h3>
          {% generic_field form.email -1 %}
          {% generic_field form.phone_number -1 %}
          {% generic_field form.street form.house_number form.house_number_addition -1 85 85 %}
          {% generic_field form.postal_code form.city 120 -1 %}
          {% generic_field form.country -1 %}

          <h3>Room Access</h3>
          {% generic_field form.key_id -1 %}
          {% generic_field form.tue_card_number -1 %}
          {% generic_field form.external_card_number form.external_card_digits form.external_card_cluster 110 70 -1 %}
          {% if form.external_card_number.value %}
            <!-- Only show deposits if the member has an external card -->
            {% generic_field form.external_card_deposit -1 %}
          {% endif %}

          {% if not form.accessible_rooms.field.disabled %}
            {% generic_field form.accessible_rooms -1 %}
          {% else %}
            <strong>Accessible Rooms:</strong>
            <ul>
              {% for x in form|selected_m2m_labels:"accessible_rooms" %}
                <li>{{ x }}</li>
              {% endfor %}
            </ul>
          {% endif %}

          <h3>Legal Information</h3>
          {% generic_field form.educational_institution -1 %}
          {% generic_field form.student_number -1 %}
          {% generic_field form.date_of_birth -1 %}
          {% generic_field form.legal_name -1 %}

          {% include 'core/description_required_fields.html' %}

          <input type="submit" value="Confirm Changes" class="greenify btn btn-dark">
      </form>
    </p>

    <p>
      Click <a href="{% url 'membership_file/membership' %}">here</a> to cancel all changes.
    </p>
{% endblock content %}
