
{% extends 'core/base.html' %}
{% load render_form %}

{% block title %}
    Squire - Extend membership
{% endblock title %}

{% block og-title %}
    Squire - Extend membership
{% endblock og-title %}

{% block content %}
    <h1>The quest goes on!</h1>
    <p>
        It couldn't happen without you :D
    </p>

    <p>
        Note: This page is far from complete and will not be completed for this PR. This summer it will contain
        a unique message made by the next board. I'm not sure how I'll set it up yet, hardcoded or from the database.
        But it's nice to have I figured.
    </p>
    <p>
        Also,this is where we could place a url for payment if wanted.
    </p>

    <a class="btn btn-success" href="/">
        Back to Home
    </a>
{% endblock %}
