
{% extends 'core/base.html' %}
{% load render_form %}

{% block title %}
    Squire - Extend membership
{% endblock title %}

{% block og-title %}
    Squire - Extend membership
{% endblock og-title %}

{% block content %}
    <h1>The quest goes on!</h1>
    <p>
        The pigeon has been send out to report to the rulers of your kingdom. They will surely be most pleased
        that you will continue your quest through these treachures lands!
    </p>

    <p>
        Please do note that a payment is requested post haste! You can transfer your contribution fee of
        <b>&euro;25</b> to the bankaccount of the Knights:
    </p>
    <p><b>
        NL49 RABO 0325427771
    </b></p>
    <p>
        May you be triumphant in your adventures!
    </p>

    <a class="btn btn-success" href="/">
        Back to Homepage
    </a>
{% endblock %}
