{% extends 'core/base.html' %}

{% block title %}
    Squire - My Groups
{% endblock title %}

{% block content %}
    <h1> My groups </h1>
    Below are the groups you are part of, be it committee, order or board.
    Note: according to the system, system might not be complete.

    {% for group in member.associationgroup_set.all %}
        <div class="my-2 p-2">
                <div class="d-flex">
                    <div style="width: 3em">
                        {% if group.icon %}
                            <img style="height: 3em;" src={{ group.icon.url }}>
                        {% endif %}
                    </div>
                    <h3>
                        {{ group }}
                    </h3>
                </div>
                <div class="mt-2">
                    <div class="row">
                    <div class="col btn-group " role="group" aria-label="{{ group }} pages">
                        <a class="btn btn-info" href="{% url "committees:group_general" group_id=group.id %}">
                            Details
                        </a>
                        <a class="btn btn-outline-info" href="{% url "committees:group_inventory" group_id=group.id %}">
                            Inventory
                        </a>
                    </div>

                    <div class="col">
                        <div class="btn-group " role="group" aria-label="{{ group }} pages">
                            {% for quicklink in group.shortcut_set.all %}
                                <a class="btn btn-outline-info" href="{{ quicklink.url }}">
                                    {{ quicklink.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    </div>
                </div>
        </div>
    {% endfor %}

{% endblock %}
