
{% extends 'core/base.html' %}

{% load static %}

{% block title %}
  Squire - Not a Member
{% endblock title %}

{% block content %}
    <center>
        <h4>Woops, you do not seem to be a Knights Member!</h4>
        <p>If this is a mistake, please contact the board.</p>

        <img src="{% static 'images/derpachu.jpg' %}" alt="Derpachu" height='256px'>
        <p>
          Here's a nice image of Derpachu instead of the page you just tried to reach.
        </p>
      </center>
{% endblock content %}
