
{% extends 'core/base.html' %}

{% block title %}
  Squire - Membership Data
{% endblock title %}

{% block og-title %}
    View Knights Membership Information
{% endblock og-title %}
{% block og-description %}
    View your Knights' membership information here.
{% endblock og-description %}

{% block content %}
        <h1>Hello {{ member.user }}!</h1>
        <p>
            This page shows everything Squire knows about you.
            While you can edit most of it yourself, do contact the board if uneditable information is incorrect.
        </p>

        <h3>Basic Information</h3>
        <p>
            Name: <i>{{ member.get_full_name }}</i><br>
        </p>

        <h3>Membership Status</h3>
        <p>
            You're a member since {{ member.member_since }}.<br>
            {% if member.is_honorary_member %}
                You are a honorary member.
            {% else %}
            Your membership fee for this year has {% if not member.has_paid_membership_fee %}<b>not</b> yet{% endif %} been paid.
            {% endif %}
        </p>

        <h3>Contact Details</h3>
        <p>
            Email: <i>{{ member.email }}</i><br>
            Phone Number: <i>{{ member.phone_number|default:"Not provided" }}</i><br>
            Address: <i>{{ member.display_address|default:"Not provided" }}</i><br>
        </p>

        <h3>Room Access</h3>
        <p>
            Key-ID: <i>{{ member.key_id|default:"None" }}</i><br>
            TU/e Card Number: <i>{{ member.tue_card_number|default:"None" }}</i><br>
            External Card Number: <i>{{ member.display_external_card_number|default:"None" }}</i><br>
            {% if member.external_card_number %}
                {# Deposit can be €0,- #}
                External Card Deposit: <i>€{{ member.external_card_deposit|default_if_none:"THIS SHOULD BE FILLED IN; PLEASE CONTACT THE BOARD" }}</i><br>
            {% endif %}
            <small>External Cards can be used by non-TU/e students to access certain rooms.</small>
        </p>
        <strong>Accessible Rooms:</strong>
        {% if member.accessible_rooms.exists %}
            <ul>
                {% for room in member.accessible_rooms.all %}
                <li>{{ room }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>None</p>
        {% endif %}

        <h3>Legal Information</h3>
        <p>
            Legal Name: <i>{{ member.legal_name }}</i><br>
            Date of Birth: <i>{{ member.date_of_birth }}</i><br>
            {% if member.educational_institution %}
                <!-- Only show student number of the member is studying -->
                Student Number: <i>{{ member.student_number|default:"Not provided" }}</i><br>
            {% endif %}
            Educational Institution: <i>{{ member.educational_institution|default:"None" }}</i>
        </p>

    <p>
        {% if member.last_updated_by is not None %}
            This information was last changed {{member.last_updated_date|date:"\o\n M j, Y \a\t H\:i"}} by {{member.display_last_updated_name}}
        {% else %}
            This information was never updated since its creation {{member.last_updated_date|date:"\o\n M j, Y \a\t H\:i"}}
        {% endif %}
        <br>
        {% if member.marked_for_deletion %}
            <br>
            You currently <strong>cannot</strong> edit this information; your membership is about to be cancelled!
            Please notify the board if this was a mistake.
        {% elif perms.membership_file.can_change_membership_information_self %}
            You can edit this information <a href="{% url 'membership_file/membership/edit' %}">here</a>.
        {% else %}
            You do not have the required permissions to change this information. Please contact the board.
        {% endif %}
    </p>
{% endblock content %}
