<html>
    <head>
        <title>Knights - Member</title>
    </head>
    <body>
        <h1>All member data:</h1>
        {% for member in members  %}
            <h3>{{member.first_name}} {{member.tussenvoegsel}} {{member.last_name}}</h3>
            {% for key, value in member.items %}
                <p>
                    <strong>{{ key }}</strong>: {{ value }}
                </p>
            {% endfor %}
        {% empty %}
            <p>there are no members; shock</p>
        {% endfor %}

    </body>
</html>