{% load nextcloud_tags %}

<div class="card">
    <div class="card-header">
        <h4 class="mb-0">
            {{ folder.display_name }}
        </h4>
        <p class="mb-0">
            {{ folder.description }}
        </p>
        {% if folder.is_missing %}
            <div class="text-danger">
                    <i class="fas fa-exclamation-triangle"></i>
                    Folder missing on disk
                </div>
        {% endif %}
    </div>

    <ul class="list-group list-group-flush {% if folder.is_missing %}text-muted{% endif %}">
        {% for file in folder.files.all %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4">
                        <span class="h5">{{ file.display_name }}</span>
                        <br>
                        <div style="margin-top: -0.5em;" class="font-weight-lighter small">
                            {% if file.is_missing %}
                                <div class="text-danger">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    File missing
                                </div>
                            {% else %}
                                <i class="{{ file.get_file_type.icon_class }}"></i>
                                {{ file.file_name }}
                                - {{ file.get_file_type.name }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6">
                        {{ file.description }}
                    </div>
                    <div class="col-2">
                        {% if file.is_missing or folder.is_missing %}
                            <a class="btn btn-secondary text-dark">
                                <i class="fas fa-download"></i> Missing
                            </a>
                        {% else %}
                        <a class="btn btn-primary"
                           href="{{ file.get_absolute_url }}"><i class="fas fa-download"></i> Download</a>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
        <li class="list-group-item">
            {% if user|has_edit_access:folder %}
                <a class="btn btn-primary" href="{% url "nextcloud:folder_edit" folder_slug=folder.slug %}">
                    <i class="fas fa-pen"></i> Edit
                </a>
            {% endif %}
            {% if user|has_synch_access %}
                <a class="btn btn-primary" href="{% url "nextcloud:synch_file" folder_slug=folder.slug %}">
                    <i class="fas fa-cloud-download-alt"></i> Sync file
                </a>
            {% endif %}
        </li>
    </ul>
</div>
