{% if folder.is_missing %}
    <div class="text-danger">
        <i class="fas fa-exclamation-triangle"></i>
        Folder missing
    </div>
{% elif folder.requires_membership and not member.is_considered_member %}
    <div>
        {{ folder.files.count }} files availlable to members
    </div>
{% else %}
    {% for file in folder.files.all %}
        {% if file.is_missing %}
            <div class="row">
                <div class="col-auto">
                    <div class="row align-content-center" style="height: 100%;">
                        <div class="col">
                            <a class="btn btn-sm btn-info disabled">
                                <i class="fas fa-download"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col pl-0">
                    <p class="">
                        {{ file.display_name }}
                    </p>
                    <p class="small">
                        <span class="small text-danger">
                                        <i class="fas fa-exclamation-triangle"></i>
                                        File missing
                        </span>
                    </p>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-auto">
                    <div class="row align-content-center" style="height: 100%;">
                        <div class="col">
                            <a href="{{ file.get_absolute_url }}" class="btn btn-sm btn-info">
                                <i class="fas fa-download"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col pl-0">
                    <p>
                        {{ file.display_name }}
                    </p>
                    <p class="small">
                        <i class="{{ file.get_file_type.icon_class }}"></i>
                        <span class="small">{{ file.file_name }}</span>
                    </p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
