{% extends 'core/base.html' %}
{% load static %}
{% load paginator %}
{% load inventory_tags %}
{% load render_achievement %}

{% block title %}
    Squire - Boardgames
{% endblock title %}

{% block content-frame-class %}
 container
{% endblock %}


{% block content %}
    <h1>Available board games</h1>
    <p>
        Below a list of all boardgames in our collection. Some of them are loaned to the Knights by other members so be
        extra careful when dealing with them.
    </p>
    <p>
        Do you want to loan your boardgame to the Knights? Did you spot incorrect data on a boardgame?
        Please send an e-mail to <a href="mailto:zg@kotkt.nl">zg@kotkt.nl</a>
        to inform them and they'll update it below.
    </p>
    <div class="alert alert-info">
        While the list is elaborate, it is not yet complete. Give us time as we migrate our inventory to here.
    </div>

    {% include "utils/snippets/filter_form_snippet.html" with form=filter_form %}


    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="">
                    <th scope="col"></th>
                    <th scope="col">Title</th>
                    <th scope="col" colspan="3" class="text-center">Info</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for boardgame in boardgames %}
                <tr>
                    <td>
                        {% if boardgame.image %}
                            <a class="enlargable_image" data-imgurl="{{ boardgame.image.url }}">
                            <div class=""
                                style="background-size: contain; background-position: center;
                                    background-image: url('{{ boardgame.image.url }}');
                                    background-repeat: no-repeat; width: 4em; height: 4em;"></div>
                            </a>
                        {% else %}
                            <div
                                style="background-size: contain; background-position: center;
                                    background-image: url('{% static 'images/header_logo.png' %}');
                                    background-repeat: no-repeat; width: 4em; height: 4em;"></div>

                        {% endif %}
                    </td>
                    <td class="w-50">
                        <div class="font-weight-bold">{{ boardgame.name }}
                            {% render_ownership_tags boardgame %}
                        </div>
                        <div><small>{{ boardgame.description }}</small></div>
                    </td>
                    <td>
                        {% if boardgame.get_players_display %}<div>Players:</div>{% endif %}
                        {% if boardgame.play_duration %}<div>Duration:</div>{% endif %}
                    </td>
                    <td>
                        {% if boardgame.get_players_display %}<div>{{ boardgame.get_players_display }}</div>{% endif %}
                        {% if boardgame.play_duration %}<div>{{ boardgame.get_play_duration_display }}</div>{% endif %}
                    </td>
                    <td>
                        {% if boardgame.achievements.all %}
                            <div class="d-flex flex-row justify-content-end">
                                {% for ach_link in boardgame.achievements.all %}
                                    {% render_achievement ach_link.achievement display_text=False img_height="3em" %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                    <td class="">
                        <div class="d-flex flex-row justify-content-end">
                            <div class="btn-group" role="group" aria-label="Boardgame info">
                                {% if boardgame.bgg_id %}
                                    <a class="btn btn-sm btn-outline-info"
                                       target="_blank" rel="noopener noreferrer"
                                       href="https://boardgamegeek.com/boardgame/{{ boardgame.bgg_id }}/">Check on
                                        <img style="height: 1em;" src="https://cf.geekdo-static.com/icons/favicon2.ico">BGG
                                    </a>
                                {% endif %}
                                {% if perms.boardgames.maintain_ownerships_for_boardgame %}
                                    <a class="btn btn-sm btn-info"
                                       href="{% url "inventory:catalogue_item_links" type_id=content_type item_id=boardgame.id %}">
                                        Edit
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% render_paginator %}

    {% if perms.boardgames.maintain_ownerships_for_boardgame %}
        <div class="d-flex justify-content-end">
            <a href="{% url "inventory:catalogue" type_id=content_type %}"
               class="btn btn-secondary">
                Maintain catalogue
            </a>
        </div>
    {% endif %}

    {% include "inventory/snippets/snippet_enlarged_image_modal.html" %}

{% endblock %}


{% block js_bottom %}
    {{ block.super }}
    <script src="{% static "js/enlarge_item_image.js" %}"></script>
{% endblock %}
