{% extends 'core/base.html' %}

{% block title %}
  Squire - Account
{% endblock title %}

{% block og-title %}
    Squire Account
{% endblock og-title %}
{% block og-description %}
    View your Squire account information.
{% endblock og-description %}

{% load to_extended_user %}

{% block content %}
  <div class='contentFrame'>
      <h1>Account</h1>

      {% with extendeduser=user|to_extended_user %}
        <p>Hi {{ extendeduser.get_display_name }}!</p>
      {% endwith %}
      <p>This is your account page.</p>

      <h2>Account Information</h2>
      <p>
        Username: <i>{{ user.username }}</i><br>
        {% if member is None %}
          {# No need to show "Real Name" if the user is a member as it won't be used then #}
          {# Furthermore, this used to be a "nickname", and to prevent confusion among people who #}
          {#  have entered it like that, we'll just hide it so we won't be asked 100 times to fix it. #}
          Real Name: <i>{{ user.first_name|default:"No real name provided" }}</i><br>
        {% endif %}
        Email: <i>{{ user.email|default:"No email provided" }}</i><br>
        <small class="text-muted">This information can currently not be edited on your end. Please notify the board if something needs to be changed.</small>
      </p>
      <p>
        You can change your password <a href="{% url 'core:user_accounts/password_change' %}">here</a>
      </p>

      {% if included_template_name %}
        {% include included_template_name %}
      {% endif %}

  </div>
{% endblock content %}
