{% extends 'core/base.html' %}

{% block title %}
  Squire - Account
{% endblock title %}

{% load to_extended_user %}

{% block content %}
  <div class='contentFrame'>
      <h1>Account</h1>

      {% with extendeduser=user|to_extended_user %}
        <p>Hi {{ extendeduser.get_display_name }}!</p>
      {% endwith %}
      <p>This is your account page.</p>

      <h2>Account Information</h2>
      <p>
        Username: <i>{{ user.username }}</i><br>
        Nickname: <i>{{ user.first_name|default:"No nickname provided" }}</i><br>
        Email: <i>{{ user.email|default:"No email provided" }}</i><br>
        <small>This information can currently not be edited on your end. Please notify the board if something needs to be changed.</small>
      </p>
      <p>
        You can reset your password <a href="{% url 'core/user_accounts/password_reset' %}">here</a>
      </p>

      {% if included_template_name %}
        {% include included_template_name %}
      {% endif %}

  </div>
{% endblock content %}
