
{% extends 'core/base.html' %}

{% load generic_field %}

{% block title %}
  Squire - Login
{% endblock title %}

{% block og-title %}
    Squire Login
{% endblock og-title %}
{% block og-description %}
    Log in to Squire.
{% endblock og-description %}

{% block content %}
  <h1>Login</h1>
  <form method="POST">{% csrf_token %}
      {% if form.non_field_errors %}
        <ul class="errorlist alert alert-danger">
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% generic_field form.username -1 %}
      {% generic_field form.password -1 %}

      {% include 'core/description_required_fields.html' %}
      <input type="submit" value="Login" class="greenify btn btn-dark">
  </form>
  <br>
  <p>
    {% if reset_password_url is not None %}
    Forgot your password? Click <a href="{{ reset_password_url }}">here</a> to reset it.
    {% endif %}
    <br>
    {% if register_url is not None %}
    You don't have an account? <a href="{{ register_url }}">Register</a> instead!
    {% endif %}
  </p>
{% endblock content %}
