{% load format_string %}
{% load filter_first %}

<div class="card greenify achievement-wide">
    <div class="row no-gutters">
        <div class="col-md-1 achievementImage">
            <div class="heightener"></div>
            <img src={{ achievement.image }} alt="Achievement Icon for {{achievement.name}}" class="card-img">
        </div>
        {% with num_shown_claimants=3 %}
            <div class="col-md-11">
                <div class="card-body achievementName">
                    <h5 class="card-title">{{achievement.name}}</h5>
                    <p class="card-text">{{achievement.description}}</p>
                    <div class="row no-gutters">
                        <div class="col-md-10">
                            <div class="card-text">
                                <small class="text-muted">
                                    {% if show_claimants %}
                                        {% if achievement.claimants|length > 0 %}
                                            <ul>
                                                {% for claimant in achievement.claimants|filter_first:num_shown_claimants %}
                                                    <li>{% include "achievements/achievement_claimant.html" %}</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            No-one has claimed this achievement yet!
                                        {% endif %}
                                    {% else %}
                                        {% if achievement.claimant_count > 0 %}
                                            Claimed a total of {{achievement.claimant_count}} time(s).
                                        {% else %}
                                            This achievement was never claimed!
                                        {% endif %}
                                    {% endif %}
                                </small>
                            </div>
                        </div>
                        <div class="col-md-2 achievementClaimants">
                            <p class="card-text">
                                <small class="text-muted">
                                    {% if achievement.claimants|length > num_shown_claimants %}
                                        <a href="#" data-toggle="modal" data-target="#modal_achievement_{{achievement.id}}">
                                            View All {{ achievement.claimants|length }} Claimants
                                        </a>
                                    {% else %}
                                        {% if achievement.claimants|length > 0 %}
                                            No Other Claimants
                                        {% endif %}
                                    {% endif %}
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}
    </div>
</div>

<!-- All claimants modal -->
<div class="modal fade modal-achievement" id="modal_achievement_{{achievement.id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{achievement.name}} Claim History</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>This achievement was claimed {{achievement.claimants|length}} time(s)</p>
            <ul>
                {% for claimant in achievement.claimants %}
                    <li>
                        {% include "achievements/achievement_claimant.html" %}                               
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary greenify" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
