{% extends 'core/base.html' %}

{% load static %}

{% block title %}
  Squire - Achievements
{% endblock title %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/achievement_frames.css' %}">
{% endblock css %}

{% block content %}
    <div class="wideContentFrame">
        <h1>Achievements</h1>
        <!-- Show Achievements per Category -->
        {% for category in categories %}
            <h2>
                {{category.name}} 
            </h2>
            <p>{{category.description}}</p>
            <!-- List Achievements -->
            <div class='achievementList'>
                {% for achievement in category.achievements %}
                    {% include "achievements/achievement_block_wide.html" %}
                {% empty %}
                    <p>Woops! There do not seem to be any achievements in this category!</p>
                {% endfor %}
            </div>
        {% empty %}
            <p>Woops! No Achievements seem to exist!</p>
        {% endfor %}

        {% if not show_claimants %}
        <p>
            <small>Only logged in members can view claimants.</small>
        </p>
        {% endif %}
    </div>
{% endblock content %}
