{% extends 'core/base.html' %}

{% load static %}

{% block title %}
  Squire - Your Achievements
{% endblock title %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/achievement_frames.css' %}">
{% endblock css %}

{% block content %}
    <div class="wideContentFrame">
        <h1>Earned Achievements</h1>
        <p>
            These are all the achievement's you've earned; ever! Feel free to brag about them to other members.
            The achievement that you unlocked the latests is shown first.
        </p>
        <!-- Show Achievements per Category -->
        {% for category in categories %}
            <h2>{{category.name}}</h2>
            <p>{{category.description}}</p>
            <!-- List Achievements -->
            <div class='achievementList'>
                {% for achievement in category.achievements %}
                    <!-- Only show user claimed achievements -->
                    {% if achievement.claimants|length > 0 %}
                        {% include "achievements/achievement_block_user.html" %}
                    {% endif %}
                {% empty %}
                    <p>Woops! There do not seem to be any achievements in this category!</p>
                {% endfor %}
            </div>
        {% empty %}
            <p>Woops! No Achievements seem to exist!</p>
        {% endfor %}
    </div>
{% endblock content %}
