{% extends 'core/base.html' %}

{% load static %}

{% block title %}
  Squire - Achievements
{% endblock title %}

{% block og-title %}
    Knights Achievements
{% endblock og-title %}
{% block og-description %}
    Earn achievements to show off milestones in boardgames, weird situations in roleplaying games, or your general bond with the association!
{% endblock og-description %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/achievement_frames.css' %}">
{% endblock css %}

{% block content-frame-class %}
    wideContentFrame
{% endblock %}

{% block content %}
        <h1>Achievements</h1>
        <!-- Show Achievements per Category -->
        {% for category in categories %}
            <h2>
                {{category.name}}
            </h2>
            <p>{{category.description}}</p>
            <!-- List Achievements -->
            <div class='achievementList'>
                {% for achievement in category.achievements %}
                    <div id="ach-{{achievement.id}}">
                        {% include "achievements/achievement_block_wide.html" %}
                    </div>
                {% empty %}
                    <p>Woops! There do not seem to be any achievements in this category!</p>
                {% endfor %}
            </div>
        {% empty %}
            <p>Woops! No Achievements seem to exist!</p>
        {% endfor %}
{% endblock content %}
