{% extends 'achievements/base.html' %}

{% load i18n %}

{% block content %}
	<h3>{% trans "Category" %}:</h3>
  <p>{{category.name}}</p>

  <h3>{% trans "Name" %}:</h3>
  <p>{{name}}</p>

  <h3>{% trans "Description" %}:</h3>
  <p>{{description}}</p>

	<h3>{% trans "Claimants" %}:</h3>
	{% for claimant in claimants %}
		<p>{{claimant.first_name}} {% if claimant.tussenvoegsel != None %}{{claimant.tussenvoegsel}}{% endif %} {{claimant.last_name}} </p>
	{% empty %}
		<p>{% trans "No claimants." %}</p>
	{% endfor %}
{% endblock %}
