@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
body {
    font-family: "Mochiy Pop One", sans-serif;
}
/* Logo Knights verstoppen */
.navbar-brand {
    visibility: hidden;
    width: auto;
}
/* add Kinjin Knights logo */
.navbar-brand::before {
    visibility: visible;
    content: url(./images/kinjin/KinjinSpoofH70px.png);
    width: 69px;
    background-size: 69px;
}
/* make "Squire" a bit bigger */
.brand-text {
    visibility: visible;
    font-size: 24px;
}

/* play with items in nav bar */
.nav-link {
    color: #bd0029;
    font-size: 18px; /* Makes it a little bit better clickable because smaller text size sometimes */
}

.btn-success {
    color: #fff;
    background-color: #bd0029;
    border-color: #bd0029;
}

/* Activity Card */
.card-img-top {
    background-color: #bd4e00;
    /* Should not be white or the same as background color */
}

/* Define main colour scheme */
:root {
    /* Default text and background colors for the body */
    --body-bg-color: whitesmoke;
    --body-text-color: #212529;

    --body-alt-bg-color: white;
    --body-alt-text-color: var(--body-text-color);
    --body-alt-dark-bg-color: #f6f6f6;

    /* Generated at https://codepen.io/sosuke/pen/Pjoqqp using --body-text-color */
    --body-icon-color: invert(11%) sepia(63%) saturate(6327%) hue-rotate(341deg)
        brightness(91%) contrast(109%);

    /* Colors for (bootstrap) inputs */
    --input-bg-color: var(--body-alt-bg-color);
    --input-text-color: var(--body-text-color);
    --input-prepend-bg-color: #e9ecef;
    --input-prepend-text-color: #515151;

    /* Colors for highlighted text (e.g. h1, strong) */
    --title-text-color: #bd0029;

    /* Colors for greenified elements (e.g. buttons) */
    --greenify-bg-color: #c5ab45;
    --greenify-text-color: white;
    --greenify-bg-hover: #bd0029;

    /* Colors for darker greenified elements (e.g. navbar, card images) */
    --greenify-dark-bg-color: #bc002d;
    --greenify-dark-text-color: white;

    /* Colors for lighter greenified elements (e.g. cards) */
    --greenify-light-bg-color: #f0e3cf;
    --greenify-light-text-color: var(--body-text-color);

    /* Colors for greenified dropdowns */
    --greenify-dropdown-bg-color: var(--body-alt-bg-color);
    --greenify-dropdown-text-color: var(--greenify-bg-color);
    --greenify-dropdown-hover-bg-color: #f0e3cf77;
    --greenify-dropdown-hover-text-color: inherit;
    --greenify-dropdown-active-bg-color: var(--greenify-bg-color);
    --greenify-dropdown-active-text-color: var(--greenify-text-color);
}
