/* Define main colour scheme */
:root {
    --main-bg-color: #206141;
    --main-text-color: white;
    --main-bg-color-dark: #163b28;
    --main-bg-color-hover: #3b6b5377;
    --main-bg-color-light: #45ac786e;

    --body-bg-color: #e5e0e0;
}
