{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load association_group_tags %}
{% load bootstrap_tabs %}


{% block og-title %}Squire - Committees and Orders{% endblock og-title %}

{% block og-description %}
    {# Description shown when sharing the link #}
    View the one and only overview of all committees and orders of the Knights
{% endblock og-description %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/bootstrap_tabs.css' %}">
{% endblock css %}


{% block title %}
    Squire - Groups
{% endblock title %}

{% block local-nav-bar %}

{% endblock %}

{% block content_raw %}
    <div class="{% block content-frame-class %}container{% endblock %}">
        <div class="d-flex flex-wrap">
            {% include "committees/snippets/snippet_assoc_group_icon.html" %}

            <div class="">
                <h1>{{ association_group }}</h1>
                <p>{{ association_group.short_description }}</p>
            </div>
        </div>

        {% bootstrap_tabs tabs %}
        <div class="border-bottom my-2 border-dark">
            {% block breadcrumbs %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb py-0 mb-2 bg-transparent">
                        {% block breadcrumb_items %}
                            <li class="breadcrumb-item"><a>
                                {{ config.name }}
                            </a></li>
                        {% endblock %}
                    </ol>
                </nav>
            {% endblock %}
        </div>

        {% bootstrap_messages %}
        {% block content %}

        {% endblock %}
    </div>
{% endblock %}


