{% extends 'core/base.html' %}
{% load static %}
{% load association_group_tags %}
{% load bootstrap_tabs %}


{% block og-title %}Squire - Committees and Orders{% endblock og-title %}

{% block og-description %}
    {# Description shown when sharing the link #}
    View the one and only overview of all committees and orders of the Knights
{% endblock og-description %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/bootstrap_tabs.css' %}">
{% endblock css %}


{% block title %}
    Squire - Groups
{% endblock title %}

{% block local-nav-bar %}

{% endblock %}


{% block content-frame-class %}
    container
{% endblock %}

{% block content %}
    <div class="d-flex">
        <div style="width: 5em">
            {% if association_group.icon %}
                <img style="height: 5em;" src={{ association_group.icon.url }}>
            {% endif %}
        </div>
        <div class="">
            <h1>{{ association_group }}</h1>
            <p>{{ association_group.short_description }}</p>
        </div>
    </div>

    <div class="nav nav-tabs mb-3 pl-3">
        <div class="nav-item">
            {% bootstrap_tab "Overview" tab_overview url_name="committees:group_general" group_id=association_group.id %}
        </div>
        {% for tab in association_group|get_group_tabs %}
            <div class="nav-item">
                {% bootstrap_tab tab.name tab_selected active_value=tab.tab_select_keyword url_name=tab.url_name group_id=association_group.id %}
            </div>
        {% endfor %}

    </div>
{% endblock %}


