{% extends 'committees/group_detail_base.html' %}
{% load static %}
{% load render_form %}

{% block content-frame-class %}
    container
{% endblock %}

{% block bootstrap_js %}
    {# We need to prevent bootstrap's JS from loading, as Martor's MarkdownWidget #}
    {#    also includes it. We cannot remove it from that widget and rely on our version #}
    {#    as it seems to require a specific version. #}
    {#    This is ugly... #}
{% endblock %}


{% block content %}
{{ block.super }}

    {% render_form method="post" id="submit_form"  has_submit_button=False uses_file_field=True %}

    <div class="btn-group" role="group" aria-label="Form changing">
        <a href="{% url "committees:group_general" group_id=association_group.id %}"
           class="btn btn-secondary">Back to overview</a>
        <button form="submit_form" type="submit" class="btn btn-primary">
            Save changes
        </button>
    </div>

{% endblock %}
