{% extends 'committees/group_detail_base.html' %}
{% load static %}
{% load to_member %}

{% block content-frame-class %}
    container
{% endblock %}


{% block content %}
{{ block.super }}



    <div class="row">
        <div class="col-12 col-md-8">

            <div>
                {{ group.associationgroup.instructions.as_rendered }}
            </div>

            <a href="{% url "committees:group_update" group_id=group.id %}"
                class="btn btn-outline-primary btn-sm">
                Edit
            </a>
            <hr>

            Current members:
            <ul>
                {% for member in group.user_set.all %}
                    <li>
                        {{ member|to_member }}
                    </li>
                {% empty %}
                    <li>
                        -
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-md-4 order-first order-md-2">
            <div class="row">
                <div class="col">
                    <p class="font-weight-bold mb-0">Quick links:</p>
                </div>
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-outline-primary btn-sm"
                       href="{% url "committees:group_quicklinks" group_id=group.id %}">
                        Edit
                    </a>
                </div>
            </div>

            {% for link in quicklinks_internal %}
                <div>
                    <a href="{{ link.url }}" class="btn btn-outline-info my-1 w-100">
                        {{ link.name }}
                    </a>
                </div>
            {% endfor %}
            {% if quicklinks_internal and quicklinks_external %}
                <hr>
            {% endif %}

            {% for link in quicklinks_external %}
                <div class="mb-3">
                    <div><small>{{ link.description|default:'' }}</small></div>
                    <a href="{{ link.url }}" class="btn btn-sm btn-outline-info my-1 w-100"
                        target="_blank" rel="noopener noreferrer">
                        {{ link.name }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>




{% endblock %}
