{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap_tabs %}


{% block og-title %}Squire - Committees and Orders{% endblock og-title %}

{% block og-description %}
    {# Description shown when sharing the link #}
    View the one and only overview of all committees and orders of the Knights
{% endblock og-description %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/bootstrap_tabs.css' %}">
{% endblock css %}


{% block title %}
    Squire - Groups
{% endblock title %}

{% block local-nav-bar %}
    <div class="nav nav-tabs px-3 mt-3">
        <div class="container d-flex">
            <div class="nav-item">
                {% bootstrap_tab "Committees" tab_committee url_name="committees:committees" %}
            </div>
            <div class="nav-item">
                {% bootstrap_tab "Orders" tab_guild url_name="committees:guilds" %}
            </div>
            <div class="nav-item">
                {% bootstrap_tab "Boards" tab_boards url_name="committees:boards" %}
            </div>
        </div>
    </div>
    {% include "inventory/snippets/snippet_enlarged_image_modal.html" %}

{% endblock %}


{% block js_bottom %}
    {{ block.super }}
    <script src="{% static "js/enlarge_item_image.js" %}"></script>
{% endblock %}


{% block content-frame-class %}
    container
{% endblock %}



