{% load association_group_tags %}


<div class="card mb-2">
    <div class="card-header">
        <div class="d-flex">
            <div style="width: 4em">
                {% if group.icon %}
                    <a class="enlargable_image" data-imgurl="{{ group.icon.url }}">
                        <div class=""
                             style="background-size: contain; background-position: center;
                                 background-image: url('{{ group.icon.url }}');
                                 background-repeat: no-repeat; width: 4em; height: 4em;"></div>
                    </a>


                {% endif %}
            </div>

            <div>
                <h3>
                    {{ group.name }}
                </h3>
                <div>
                    {{ group.short_description|default:"" }}
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-text">{{ group.long_description }}</div>

        {% if group.contact_email %}
            <div class="mt-2">
                Contact:
                <a href="mailto:{{ group.contact_email }}">
                    {{ group.contact_email }}
                </a>
            </div>
        {% endif %}

        {% if can_view_members %}
            <div class="font-weight-bold mt-3">Members:</div>

            <div class="">
            {% for membership in group.associationgroupmembership_set.all %}
                <div>
                    {{ membership.member_name }}{% if membership.role %}, {{ membership.role }}{% endif %}
                    {% if membership.title %}(<span class="font-italic">"{{ membership.title }}"</span>){% endif %}
                </div>
            {% empty %}
                <div>
                    There are no members yet
                </div>
            {% endfor %}
            </div>
        {% endif %}
        {% if user|is_in_group:group %}
            <a class="btn btn-info mt-3"
               href="{% url "committees:group_general" group_id=group.id %}">
                Group page
            </a>
        {% endif %}
    </div>
</div>
