{% load to_member %}
{% load association_group_tags %}


<div class="card mb-2">
    <div class="card-header">
        <div class="d-flex">
            <div style="width: 4em">
                {% if group.icon %}
                    <img style="height: 4em;" src={{ group.icon.url }}>
                {% endif %}
            </div>

            <div>
                <h3>
                    {{ group.name }}
                </h3>
                <div>
                    {{ group.short_description }}
                </div>
            </div>
        </div>

    </div>
    <div class="card-body">
        <p class="card-text">{{ group.long_description }}</p>

        {% if user|is_member %}
            <div class="font-weight-bold">Members:</div>

            <div class="mb-3">
            {% for membership in group.associationgroupmembership_set.all %}
                <div>
                    {{ membership.member }}{% if membership.role %}, {{ membership.role }}{% endif %}
                    {% if membership.title %}(<span class="font-italic">"{{ membership.title }}"</span>){% endif %}
                </div>
            {% empty %}
                <div>
                    There are no members yet
                </div>
            {% endfor %}
            </div>

            {% if user|is_in_group:group.site_group %}
                <a class="btn btn-info"
                   href="{% url "committees:group_general" group_id=group.id %}">
                    Group page
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>
