{% load generic_field %}

<form method="get">
    <div class="row justify-content-md-end">
        <div class="col {% if form.visible_fields|length <= 1 %}col-md-auto{% endif %}">
            <div class="row">
                <div class="col-12 col-md">
                    <div class="row justify-content-md-end">
                        {% for field in form.visible_fields %}
                            <div class="col-12 col-lg">
                                {% generic_field field -1 %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-auto">
                    <div class="btn-group" role="group" aria-label="Search">
                        <input type="submit" value="search" class="btn btn-info"/>
                        <a class="btn btn-secondary"
                           href="{{ request.path }}">Reset</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
