{% load generic_field %}

<form method="get" id="filter-form">
    <div class="row justify-content-md-end">
        <div class="col {% if form.visible_fields|length <= 1 %}col-md-auto{% endif %}">
            <div class="row">
                <div class="col-12 col-md">
                    <div class="row justify-content-md-end">
                        {% for field in form.visible_fields %}
                            <div class="col-12 col-lg">
                                {% generic_field field -1 %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-auto">
                    <div class="btn-group" role="group" aria-label="Search">
                        <button type="submit" form="filter-form" class="btn btn-info">
                            <i class="fas fa-search"></i> Search
                        </button>
                        <a class="btn btn-secondary"
                           href="{{ request.path }}">
                            <i class="fas fa-times"></i> Reset
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
